<template>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h3>Страница не найдена</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>запрошенная Вами страница не найдена</h2>
		</div>
	</div>

</template>

<script>

export default {}

</script>
