<template>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-server" style="color:#BF0202">
				<h1>Произошла ошибка</h1>
			</div>
			<h2>Сервер не отвечает. Попробуйте позже.</h2>
		</div>
	</div>

</template>

<script>

export default {}

</script>
