<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord"
                v-if="rights.add">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="rights.edit && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="rights.del && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="name"
                label="Рубрика"
                min-width="130"
                :render-header="inputFilter"
                sortable="custom">
            </el-table-column>

            <el-table-column
                prop="url"
                label="ЧПУ"
                min-width="130"
                :render-header="inputFilter"
                sortable="custom">
            </el-table-column>

            <el-table-column
                prop="sort"
                width="150"
                label="Сортировка"
                :render-header="inputFilter"
                sortable="custom"
                align="center">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!rights.edit_item"
                        column="sort"
                        @update-editor="editRecordInline(scope.row)"
                        type="number"
                    />
                </template>
            </el-table-column>

            <el-table-column
                prop="hidden"
                label="Скрыть"
                width="120"
                :render-header="selectFilter"
                sortable="custom"
                align="center">

                <template slot-scope="scope">
                    <el-checkbox
                    	v-model="scope.row.hidden"
                    	v-if="rights.edit_item"
                    	@change="editRecordInline(scope.row)"
                    	></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.hidden" v-else></el-checkbox>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected"   ref="EditorTabs">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Рубрика" prop="name">
                            <el-input v-model="formData.name" :readonly="!rights.edit_item"></el-input>
                        </el-form-item>
                        <el-form-item label="ЧПУ" prop="url">
                            <HumanUrlEditor
                                v-model="formData"
                                :readonly="!rights.edit_item || typeof formData.id !== 'undefined'" />
                        </el-form-item>
                        <el-form-item label="Сортировка" prop="sort">
                            <el-input v-model="formData.sort" type="number" min="1" :readonly="!rights.edit_item"></el-input>
                        </el-form-item>
                        <el-form-item label="Скрыть">
                            <el-checkbox v-model="formData.hidden" :disabled="!rights.edit_item"></el-checkbox>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>

                <el-tab-pane label="SEO" name="seo" v-if="currentRow && currentRow.id && rights.edit_seo">
                    <SeoTab v-model="seo"></SeoTab>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer" v-if="showSaveBtn && rights.edit_item">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>
            <span slot="footer" class="dialog-footer" v-if="showSeoBtn && rights.edit_seo">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveSeo">Сохранить SEO</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState, mapGetters } from 'vuex'
import { NixTable }             from '@/mixins/NixTable'
import TableInlineEditor        from '@/components/TableInlineEditor'
import HumanUrlEditor           from '@/components/HumanUrlEditor'

import SeoTab                   from '@/components/SeoTab'

export default {
    components: { TableInlineEditor, HumanUrlEditor, SeoTab },
    mixins: [NixTable],

    data() {
        return {
        	module: 'category',
            rules: {
                name: [
                    { required: true, message: 'Введите название рубрики', trigger: 'blur' }
                ],
                url: [
                    { required: true, message: 'Введите ЧПУ рубрики', trigger: 'blur' }
                ],
                sort: [
                    { required: true, message: 'Введите значение сортировки рубрики', trigger: 'blur' }
                ],
            },
            formTitles : {
                new_rec  : 'Добавление новой рубрики',
                edit_rec : 'Редактирование рубрики'
            },
            formInitData: {
				name   : '',
				url    : '',
				sort   : 10,
				hidden : false
            },
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.category.list,
            currentRow  : state => state.category.currentRow,
            seo         : state => state.category.seo,
            currentPage : state => state.category.currentPage,
            totalCount  : state => state.category.totalCount,
            perPage     : state => state.category.perPage,
            filters     : state => state.category.filters,
            sorting     : state => state.category.sorting,
        }),
        ...mapGetters({
            rights   : 'rights/category',
        }),
        sFilter(){
        	return {
        		hidden: [
            		{id: 'true', name: 'да'},
            		{id: 'false', name: 'нет'},
            	]
        	}
        }
    },

    watch: {
        list (val) {
            this.list.map(v => {
                this.$set(v, 'editors', {sort: false})
                v.editorsVals = {
                    sort: v.sort
                }
                return v
            })
        }
    }

}

</script>
