<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord"
                v-if="rights.add">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="rights.edit && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="rights.del && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="description"
                label="Название"
                width="130">
            </el-table-column>

            <el-table-column
                prop="name"
                label="Код"
                width="180">
            </el-table-column>

            <el-table-column
                prop="sort"
                width="150"
                label="Сортировка"
                align="center">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!isAdmin"
                        column="sort"
                        @update-editor="editRecordInline(scope.row)"
                        type="number"
                    />
                </template>
            </el-table-column>

            <el-table-column
                prop="href"
                label="Значение"
                min-width="250">

                <template slot-scope="scope">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width:250px">{{scope.row.href}}</div>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Название" prop="description">
                            <el-input v-model="formData.description"></el-input>
                        </el-form-item>
                        <el-form-item label="Код" prop="name">
                            <el-select v-model="formData.name">
                                <el-option
                                  v-for="item in nameOptions"
                                  :key="item"
                                  :label="item"
                                  :value="item">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Ссылка" prop="href">
                            <el-input v-model="formData.href"></el-input>
                        </el-form-item>
                        <el-form-item label="Сортировка" prop="sort">
                            <el-input v-model="formData.sort" type="number" min="1"></el-input>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState, mapGetters } from 'vuex'
import { NixTable }             from '@/mixins/NixTable'
import TableInlineEditor        from '@/components/TableInlineEditor'

export default {
    components: { TableInlineEditor },
    mixins: [NixTable],

    data() {
        return {
        	module: 'social',
            rules: {
                description: [
                    { required: true, message: 'Введите название социальной сети', trigger: 'blur' }
                ],
                name: [
                    { required: true, message: 'Выберите код социальной сети', trigger: 'blur' }
                ],
                href: [
                    { required: true, message: 'Введите ссылку на страницу в социальной сети', trigger: 'blur' }
                ],
                sort: [
                    { required: true, message: 'Введите значение сортировки социальной сети', trigger: 'blur' }
                ],
            },
            formTitles : {
                new_rec  : 'Добавление новой социальной сети',
                edit_rec : 'Редактирование социальной сети'
            },
            formInitData: {
                name        : '',
                description : '',
                href        : '',
                sort        : 10,
            },
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.social.list,
            currentRow  : state => state.social.currentRow,
            currentPage : state => state.social.currentPage,
            totalCount  : state => state.social.totalCount,
            perPage     : state => state.social.perPage,
        }),
        ...mapGetters({
            rights   : 'rights/social',
        }),
        nameOptions(){
            let full_list = ['fb','insta','vk','twitter','ok']
            if (!this.list) return full_list

            let exist = {}
            this.list.forEach(record => {
                exist[record.name] = 1
            });

            let final_list = []
            full_list.forEach(code => {
                if (!exist[code] || (this.currentRow && this.currentRow.code === code))
                    final_list.push(code)
            });

            return final_list
        }
    },

    watch: {
        list (val) {
            this.list.map(v => {
                this.$set(v, 'editors', {sort: false})
                v.editorsVals = {
                    sort: v.sort
                }
                return v
            })
        }
    }

}

</script>
