<template>

	<Gallery
		:tableHeight="tableHeight">
	</Gallery>

</template>

<script>

import { mapState }  from 'vuex'
import Gallery       from '@/components/Gallery'
import $             from 'jquery'

export default {

	components: {Gallery},

	computed: {
		...mapState({
			isAdmin    : state => state.auth.isAdmin,
        }),
        tableHeight(){
        	return $(window).height() - 120
        },
	}

}
</script>

