<template>

<div class="notify-list">
    <el-alert
        :title="item.text"
        type="info"
        v-for="item in list" :key="item.id"
        @close="closeNotification(item)">
        <template>
            <div style="font-size:11px; color:grey">{{users_hash[item.user_from]}} изменил(а) статью:</div>
            <div style="font-size:11px; color:black">{{item.article}} </div>
            <div style="font-size:11px; color:grey">{{ item.date_create | moment("DD.MM.YYYY HH:mm") }}</div>
        </template>
    </el-alert>
</div>

</template>

<script>

import $            from 'jquery'
import { mapState } from 'vuex'

export default {
	computed: {
		...mapState({
            list       : state => state.notifications.list,
            users_hash : state => state.users.fullHash,
        }),
	},
    methods: {
        closeNotification(item){
            this.$store.dispatch('notifications/deleteItem', item.id);
        }
    },
	created () {
        this.$store.dispatch('notifications/getList');
        this.$store.dispatch('users/getAll');

        this.interval = setInterval(function () {
            this.$store.dispatch('notifications/getList');
        }.bind(this), 10000);
    },
    destroyed(){
        this.$store.commit('notifications/set', {type: 'list', items:[]});
    },
    beforeDestroy: function(){
        clearInterval(this.interval);
    },
}

</script>

<style>

.notify-list .el-alert {
    margin: 20px 0 0;
}

.notify-list {
    max-height: 400px;
    overflow-y: auto;
}

</style>
