<template>
  <el-breadcrumb class="app-breadcrumb" separator-class="el-icon-arrow-right">
    <transition-group name="breadcrumb">
      <el-breadcrumb-item v-for="(item,index) in levelList" v-if="item.meta.title" :key="item.path">
        <span v-if="item.redirect==='noredirect'||index==levelList.length-1" class="no-redirect">{{ item.meta.title }}</span>
        <router-link v-else :to="item.redirect||item.path">{{ item.meta.title }}</router-link>
      </el-breadcrumb-item>
    </transition-group>
  </el-breadcrumb>
</template>

<script>
import { routerMap } from '../../router/router'

export default {
  data() {
    return {
      levelList: null
    }
  },
  watch: {
    $route() {
      this.getBreadcrumb(this.$route, [])
    }
  },
  created() {
    this.getBreadcrumb(this.$route, [])
  },
  methods: {
    getBreadcrumb(rt, breadcrumbs) {
      var $this = this
      breadcrumbs.unshift(rt)
      if (rt.meta && rt.meta.parent) {
        routerMap.forEach(function(route) {
          if (route.name === rt.meta.parent) $this.getBreadcrumb(route, breadcrumbs)
        })
      }
      this.levelList = breadcrumbs
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  .app-breadcrumb.el-breadcrumb {
    display: inline-block;
    font-size: 14px;
    line-height: 50px;
    margin-left: 10px;
    .no-redirect {
      color: #97a8be;
      cursor: text;
    }
  }
</style>
