<template>
	<el-dialog
	  title="Изменение пароля"
	  :visible="showChangePass"
	  width="40%"
	  center
	  modal
	  :showClose="false">

	  <el-form :model="cp_form" label-position="right" label-width="200px" :rules="rules" ref="cpForm">
	  	<el-form-item label="Старый пароль:" prop="old_password">
		      <el-input v-model="cp_form.old_password" type="password"></el-input>
	    </el-form-item>
	    <el-form-item label="Новый пароль:" prop="new_password">
		      <el-input v-model="cp_form.new_password" type="password"></el-input>
	    </el-form-item>
	    <el-form-item label="Повтор нового пароля:" prop="confirm_new_password">
		      <el-input v-model="cp_form.confirm_new_password" type="password"></el-input>
	    </el-form-item>
	  </el-form>

	  <span slot="footer" class="dialog-footer">
	    <el-button @click="cancelChangePass">Отмена</el-button>
	    <el-button type="primary" @click="saveChangePass">Сохранить</el-button>
	  </span>
	</el-dialog>
</template>

<script>

import { mapState }      from 'vuex'

export default {
	data(){
		var validatePass = (rule, value, callback) => {
        	if (value === '') {
          		callback(new Error('Введите новый пароль повторно'));
        	} else if (value !== this.cp_form.new_password) {
          		callback(new Error('Введенные пароли не совпадают'));
        	} else {
          		callback();
        	}
      };

		return {
			cp_form: {
				old_password         : '',
				new_password         : '',
				confirm_new_password : '',
			},
			rules: {
				old_password: [
		            { required: true, message: 'Введите старый пароль', trigger: 'blur' }
		        ],
				new_password: [
					{ required: true, message: 'Введите новый пароль', trigger: 'blur' }

		        ],
				confirm_new_password: [
		           { required: true, validator: validatePass, trigger: 'blur' }
		        ],
			}
		}
	},

	computed: {
	    ...mapState({
			showChangePass : state => state.app.showChangePass,
	    })
  	},

  	methods: {
  		cancelChangePass(){
  			this.$refs.cpForm.resetFields();
  			this.$store.commit('app/set', {type: 'showChangePass', items:false})
  		},
  		saveChangePass(){
  			var self = this;
            self.$refs.cpForm.validate((valid) => {
            	this.$store.dispatch('app/changePass', self.cp_form)
            });
  			// this.$store.commit('app/set', {type: 'showChangePass', items:false})
  		},
  	}
}

</script>
