<template>
	<el-dialog
	  	title="Be Icon Административная панель"
	  	visible
	  	width="30%"
	  	center
	  	modal
	  	:showClose="false">

	  	<el-form :model="login_form" label-position="right" label-width="100px" :rules="rules" ref="loginForm">
		    <el-form-item label="Логин:" prop="username">
		      <el-input v-model="login_form.username"></el-input>
		    </el-form-item>
		    <el-form-item label="Пароль:" prop="password">
		      <el-input v-model="login_form.password" type="password"></el-input>
		    </el-form-item>
	  	</el-form>

	  	<span slot="footer" class="dialog-footer">
	    	<el-button type="primary" @click="makeLogin">Вход в систему</el-button>
	  	</span>
	</el-dialog>
</template>

<script>

import { mapState } from 'vuex'

export default {
	data () {
		return {
			login_form: {
				username: '',
		        password: '',
			},
			rules: {
				username: [
		            { required: true, message: 'Введите логин', trigger: 'blur' }
		        ],
		        password: [
		            { required: true, message: 'Введите пароль', trigger: 'blur' }
		        ],
			}
		}
	},
	methods: {
		makeLogin() {
			this.$refs.loginForm.validate((valid) => {
          		if (valid) {
            		this.$store.dispatch('auth/authorization', this.$data.login_form)
          		} else {
            		return false;
          		}
        	});
		}
	}
}

</script>
