<template>
  <el-menu class="navbar" mode="horizontal">

    <div class="hamburger-container" id="hamburger-c">
      <svg
        :class="{'is-active':sidebar.opened}"
        t="1492500959545"
        class="hamburger"
        style=""
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="1691"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="64"
        height="64"
        @click="toggleSideBar">
        <path
          d="M966.8023 568.849776 57.196677 568.849776c-31.397081 0-56.850799-25.452695-56.850799-56.850799l0 0c0-31.397081 25.452695-56.849776 56.850799-56.849776l909.605623 0c31.397081 0 56.849776 25.452695 56.849776 56.849776l0 0C1023.653099 543.397081 998.200404 568.849776 966.8023 568.849776z"
          p-id="1692"/>
        <path
          d="M966.8023 881.527125 57.196677 881.527125c-31.397081 0-56.850799-25.452695-56.850799-56.849776l0 0c0-31.397081 25.452695-56.849776 56.850799-56.849776l909.605623 0c31.397081 0 56.849776 25.452695 56.849776 56.849776l0 0C1023.653099 856.07443 998.200404 881.527125 966.8023 881.527125z"
          p-id="1693"/>
        <path
          d="M966.8023 256.17345 57.196677 256.17345c-31.397081 0-56.850799-25.452695-56.850799-56.849776l0 0c0-31.397081 25.452695-56.850799 56.850799-56.850799l909.605623 0c31.397081 0 56.849776 25.452695 56.849776 56.850799l0 0C1023.653099 230.720755 998.200404 256.17345 966.8023 256.17345z"
          p-id="1694"/>
      </svg>
    </div>

    <breadcrumb class="breadcrumb-container"/>

    <div class="right-menu">
      <div  class="right-menu-item not-container" style="margin-right: 15px;">
        <el-badge :value="notifications.length" class="item" v-popover:popover :hidden="notificationsDisabled">
          <el-button size="small" type="warning" plain :disabled="notificationsDisabled"><svg-icon icon-class="email"></svg-icon></el-button>
        </el-badge>
      </div>

      <div  class="right-menu-item sf-container" style="margin-right: 15px;">
          <el-button size="small" type="info" plain @click="makeFullscreen"><svg-icon icon-class="arrows-alt-solid"></svg-icon></el-button>
      </div>

      <div  class="right-menu-item" style="margin-right: 15px;">
        <Help />
      </div>

      <div  class="right-menu-item profile-container">
        <el-dropdown size="small" trigger="click" @command="handleDropdown">
          <el-button size="small" plain type="primary">{{user.name}} <i class="el-icon-arrow-down el-icon--right"></i></el-button>
          <el-dropdown-menu slot="dropdown">
              <el-dropdown-item  command="changePassword">Сменить пароль</el-dropdown-item>
              <el-dropdown-item  command="logout" divided>Выйти из системы</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>

    </div>

    <el-popover
        ref="popover"
        placement="bottom"
        width="400"
        trigger="click"
        v-if="notificationsCount">
        <Notifications></Notifications>
    </el-popover>

    <ChangePassword></ChangePassword>

  </el-menu>
</template>

<script>
import { mapState }      from 'vuex'
import Breadcrumb        from './Breadcrumb'
import Help              from './Help/'
import ChangePassword    from './ChangePassword'
import Notifications     from '@/views/Notifications/Main'

import screenfull        from 'screenfull'

export default {

  components: { Breadcrumb, Notifications, ChangePassword, Help },

  computed: {
    ...mapState({
        sidebar        : state => state.app.sidebar,
        showChangePass : state => state.app.showChangePass,
        user           : state => state.auth.user,
        notifications  : state => state.notifications.list,
    }),
    notificationsCount() {
      return this.notifications.length
    },
    notificationsDisabled(){
      return (this.notifications.length) ? false : true
    }
  },
  methods: {
    toggleSideBar() {
      this.$store.dispatch('app/toggleSideBar')
    },
    handleDropdown(dp){
      if (dp === 'logout')
        this.$store.dispatch('auth/logout')
      if (dp === 'changePassword')
        this.changePassword()
    },
    changePassword(){
      this.$store.commit('app/set', {type: 'showChangePass', items:true})
    },
    makeFullscreen(){
      if (!screenfull.enabled) {
        this.$message({
          message: 'Ваш браузер не поддерживается',
          type: 'warning'
        })
        return false
      }
      screenfull.toggle()
    }
  }
}
</script>

<style>

.right-menu-item .el-button {
  height: 32px;
  padding: 2px;
  min-width: 32px;
}
.right-menu-item .el-button svg {
  font-size: 15px
}

</style>
