<template>
	<div>
		<el-scrollbar wrap-class="scrollbar-wrapper">
		    <el-menu
		      	:show-timeout="200"
		      	:default-active="$route.path"
		      	:collapse="isCollapse"
		      	mode="vertical"
		      	background-color="#304156"
		      	text-color="#bfcbd9"
		      	active-text-color="#409EFF"
		      	unique-opened
		      	router>

		      	<template v-for="route in routes">

			      	<div class="menu-wrapper"  v-if="route.children">
			      		<el-submenu :index="route.path">
					        <template slot="title">
					          	<svg-icon :icon-class="route.meta.icon" v-if="route.meta && route.meta.icon"></svg-icon>
					          	<span>{{route.meta.title}}</span>
					        </template>

					        <template v-for="subroute in route.children">
					        	<el-menu-item :index="subroute.path">
					        		<span v-if="subroute.meta.important" style="font-weight:bold; color:orange;">{{subroute.meta.title}}</span>
					        		<span v-else>{{subroute.meta.title}}</span>
					        	</el-menu-item>
					        </template>

				      	</el-submenu>
			      	</div>

			      	<div class="menu-wrapper" v-else>
			      		<el-menu-item :index="route.path">
					        <span :title="route.meta.title"><svg-icon :icon-class="route.meta.icon" v-if="route.meta && route.meta.icon"></svg-icon></span>
					        <span>{{route.meta.title}}</span>
				      	</el-menu-item>
			      	</div>

		      	</template>

		    </el-menu>
		  </el-scrollbar>
	</div>
</template>

<script>
import { mapState }  from 'vuex'

export default {
  	computed: {
	    ...mapState({
			sidebar : state => state.app.sidebar,
			user    : state => state.auth.user,
			routes  : state => state.app.routes,
	    }),
	    isCollapse() {
	      	return !this.sidebar.opened
	    },
  	},
}
</script>

<style rel="stylesheet/css" scoped>

#app .sidebar-container .el-scrollbar {
	height: 100%;
}

</style>
