<template>

	<div id="notfound">
	</div>

</template>

<script>

import { mapState }         from 'vuex'

export default {
	computed: {
		...mapState({
			badCode : state => state.yandex.badCode,
			token   : state => state.yandex.token,
		}),
	},

	created () {
		if (this.$route.query.code)
			this.$store.dispatch('yandex/getTokenByCode', this.$route.query.code);
	},

	watch: {
		badCode(val) {
			if (val) {
				this.$message({
                    message: 'Ошибка авторизации приложения в Yandex!',
                    type: 'error'
                });

				this.$router.push('/')
			}
		},
		token(val) {
			if (val) {
				this.$message({
                    message: 'Успешная авторизация приложения в Yandex!',
                    type: 'success'
                });

				this.$router.push('/')
			}
		}
	}
}

</script>
