<template>
<div style="display:flex;">
	<el-input v-model="value.url" :disabled="readonly" ref="UrlInput" />
	<el-button size="mini" type="info" v-if="!readonly" @click="generateUrl">
		сгенерировать ЧПУ
	</el-button>
</div>
</template>

<script>

import cyrillicToTranslit from 'cyrillic-to-translit-js'

export default {
	name: 'HumanUrlEditor',

	props: {
		value: {
			type     : Object,
			required : true,
	    },
	    readonly: {
      		type: Boolean,
      		required: false,
      		default: false
    	},
	},

	methods: {
		generateUrl(){
			var url = cyrillicToTranslit({ preset: "ru" }).transform(this.value.name.toLowerCase(), "-")
			var punctuationless = url.replace(/[.,\/#!$%\^&\*;:{}=\_`~()"”“®™»«']/g,"");
			var finalvalue = punctuationless.replace(/\s{2,}/g," ");
			finalvalue = finalvalue.replace(/\-+/g,"-");
			finalvalue = finalvalue.replace(/\-$/g,"");
			finalvalue = finalvalue.replace(/^\-/g,"");

			var diacritics =[
		        /[\300-\306]/g, /[\340-\346]/g,  // A, a
		        /[\310-\313]/g, /[\350-\353]/g,  // E, e
		        /[\314-\317]/g, /[\354-\357]/g,  // I, i
		        /[\322-\330]/g, /[\362-\370]/g,  // O, o
		        /[\331-\334]/g, /[\371-\374]/g,  // U, u
		        /[\321]/g, /[\361]/g, // N, n
		        /[\307]/g, /[\347]/g, // C, c
		    ];
		    var chars = ['A','a','E','e','I','i','O','o','U','u','N','n','C','c'];
		    for (var i = 0; i < diacritics.length; i++)
		    {
		        finalvalue = finalvalue.replace(diacritics[i],chars[i]);
		    }
			this.value.url = finalvalue
		}
	},
}

</script>
