<template>
    <div id="nix-list">
        <div class="button_panel">

            <div class="bp_button">
                <Excel
                :module="module"
                :header="exportHeader"
                :fields="exportFields"
                ></Excel>
            </div>

            <div class="spacer"></div>

            <div class="bp_button" v-if="rights.edit && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="title"
                label="Заголовок"
                min-width="130"
                :render-header="noFilter">
            </el-table-column>

            <el-table-column
                prop="url"
                label="URL"
                min-width="130"
                :render-header="noFilter">
            </el-table-column>

            <el-table-column
                prop="tbl"
                label="Раздел записи"
                width="120"
                :render-header="noFilter">
            </el-table-column>

            <el-table-column
                prop="last_updated"
                width="170"
                label="Последнее изменение"
                :render-header="noFilter"
                align="center">

                <template slot-scope="scope" v-if="scope.row.last_updated && scope.row.last_updated !== '0000-00-00 00:00:00'">
                    {{moment(scope.row.last_updated).format('DD.MM.YYYY')}}
                </template>
            </el-table-column>

            <el-table-column
                prop="priority"
                label="Приоритет"
                width="120"
                :render-header="noFilter">
            </el-table-column>

            <el-table-column
                prop="changegreq"
                label="Частота изменения"
                width="120"
                :render-header="noFilter">
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">

                        <el-row>
                            <el-col :span="20">
                                <el-form-item label="URL">
                                <el-input v-model="formData.url" readonly></el-input>
                            </el-form-item>
                            </el-col>
                            <el-col :span="4">
                                <a :href="sitepath(formData.url)" target="_blank">
                                    <el-button size="small" type="info">
                                        открыть на сайте
                                    </el-button>
                                </a>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="Title">
                                    <el-input v-model="formData.title"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Keywords">
                                    <el-input v-model="formData.keywords"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-form-item label="Description">
                            <el-input type="textarea"  v-model="formData.description" :rows="2"></el-input>
                        </el-form-item>

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="Приоритет">
                                    <el-input v-model="formData.priority" type="number" step="0.1" min="0.1" max="0.9"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Посл.обнов.">
                                    <el-date-picker v-model="formData.last_updated" type="date" format="dd.MM.yyyy" value-format="yyyy-MM-dd"></el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-form-item label="Частота изм.">
                            <el-select v-model="formData.changegreq">
                                <el-option label="always" value="always" key="always"></el-option>
                                <el-option label="hourly" value="hourly" key="hourly"></el-option>
                                <el-option label="daily" value="daily" key="daily"></el-option>
                                <el-option label="weekly" value="weekly" key="weekly"></el-option>
                                <el-option label="monthly" value="monthly" key="monthly"></el-option>
                                <el-option label="never" value="never" key="never"></el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="Canonical URL">
                            <el-input v-model="formData.canonical_url"></el-input>
                        </el-form-item>

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="og:title">
                                    <el-input v-model="formData.og_title"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="og:image">
                                    <el-input v-model="formData.og_image"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="og:locale">
                                    <el-input v-model="formData.og_locale"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="og:site_name">
                                    <el-input v-model="formData.og_site_name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-form-item label="og:url">
                            <el-input v-model="formData.og_url"></el-input>
                        </el-form-item>
                        <el-form-item label="og:description">
                            <el-input type="textarea" v-model="formData.og_description" :rows="2"></el-input>
                        </el-form-item>
                        <el-form-item label="Комментарий к материалу">
                            <el-input type="textarea" v-model="formData.comment" :rows="3"></el-input>
                        </el-form-item>
                    </el-form>


                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState, mapGetters } from 'vuex'
import { NixTable }             from '@/mixins/NixTable'
import TableInlineEditor        from '@/components/TableInlineEditor'
import Excel                    from '@/components/Excel'
import Conf                     from '@/../config/url.js'

export default {
    components: { TableInlineEditor, Excel },
    mixins: [NixTable],

    data() {
        return {
        	module: 'seo',
            rules: {
                name: [
                    { required: true, message: 'Введите название настройки', trigger: 'blur' }
                ],
                keyname: [
                    { required: true, message: 'Введите параметр настройки', trigger: 'blur' }
                ],
            },
            formData : {},
            formInitData: {},
            exportHeader: ['URL', 'Title', 'Keywords', 'Description', 'Приоритет', 'Посл.обнов.', 'Частота изм.', 'Canonical URL', 'og:title', 'og:image', 'og:locale', 'og:site_name', 'og:url', 'og:description'],
            exportFields:['url', 'title', 'keywords', 'description', 'priority', 'last_updated', 'changegreq', 'canonical_url', 'og_title', 'og_image', 'og_locale', 'og_site_name', 'og_url', 'og_description']
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            isSeo       : state => state.auth.isSeo,
            list        : state => state.seo.list,
            currentRow  : state => state.seo.currentRow,
            currentPage : state => state.seo.currentPage,
            totalCount  : state => state.seo.totalCount,
            perPage     : state => state.seo.perPage,
            filters     : state => state.seo.filters,
            sorting     : state => state.seo.sorting,
        }),
        ...mapGetters({
            rights   : 'rights/seo',
        }),
        formTitle(){
            if (!this.currentRow || !this.currentRow.id)
                return 'Ошибка!'
            else
                return 'Редактирование записи SEO'
        },
        sFilter(){
        	return {

        	}
        }
    },

    methods: {
        sitepath(url) {
            return Conf.siteHost + url
        }
    }
}

</script>
