<template>

<div class="dash-rep-container">
        <div class="dash-rep-item" v-for="route in list">
            <router-link  tag="div"  class="blog-item-link" :to="route.path">
                {{route.meta.title}}
            </router-link>
        </div>
    </div>

</template>

<script>

import { mapState }         from 'vuex'

export default {

    computed: {
        ...mapState({
            user    : state => state.auth.user,
            routes  : state => state.app.routes,
        }),
        list(){
            let list = []

            this.routes.forEach(function (route, index) {
                if (route.name === 'partners')
                    list = route.children
            })

            return list
        }
    },

}

</script>

<style>

.blog-item-link {
    text-align: center;
    cursor: pointer;
}

</style>
