<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord"
                v-if="rights.add">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="rights.edit && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="rights.del && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="name"
                label="Настройка"
                min-width="130">
            </el-table-column>

            <el-table-column
                prop="keyname"
                label="Параметр"
                min-width="180">
            </el-table-column>

            <el-table-column
                prop="value"
                label="Значение"
                width="250">

                <template slot-scope="scope">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width:250px">{{scope.row.value}}</div>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Настройка" prop="name">
                            <el-input v-model="formData.name"></el-input>
                        </el-form-item>
                        <el-form-item label="Параметр" prop="keyname">
                            <el-input v-model="formData.keyname"></el-input>
                        </el-form-item>
                        <el-form-item label="Значение">
                            <el-input v-model="formData.value" type="textarea" :rows="8"></el-input>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState, mapGetters } from 'vuex'
import { NixTable }             from '@/mixins/NixTable'
import TableInlineEditor        from '@/components/TableInlineEditor'

export default {
    components: { TableInlineEditor },
    mixins: [NixTable],

    data() {
        return {
        	module: 'service',
            rules: {
                name: [
                    { required: true, message: 'Введите название настройки', trigger: 'blur' }
                ],
                keyname: [
                    { required: true, message: 'Введите параметр настройки', trigger: 'blur' }
                ],
            },
            formTitles : {
                new_rec  : 'Добавление новой настройки',
                edit_rec : 'Редактирование настройки'
            },
            formInitData: {
                name    : '',
                keyname : '',
                value   : '',
            },
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.service.list,
            currentRow  : state => state.service.currentRow,
            currentPage : state => state.service.currentPage,
            totalCount  : state => state.service.totalCount,
            perPage     : state => state.service.perPage,
            filters     : state => state.service.filters,
            sorting     : state => state.service.sorting,
        }),
        ...mapGetters({
            rights   : 'rights/service',
        }),
        sFilter(){
        	return {
        		active: [
            		{id: 'true', name: 'да'},
            		{id: 'false', name: 'нет'},
            	]
        	}
        }
    },

}

</script>
