<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index"
                header-align="center"
                align="center">
            </el-table-column>

            <el-table-column
                width="60"
                header-align="center"
                label="Превью"
                align="center">
                <template slot-scope="scope">
                    <TableImage
                        v-model="scope.row.preview_img_admin"
                        :original="scope.row.preview_img_original"
                        :readonly="!isAdmin"
                        :params="{pnews_id: scope.row.id}"
                        @update-image="updateImage"
                    />
                </template>
            </el-table-column>

            <el-table-column
                prop="name"
                label="Заголовок"
                min-width="130"
                :render-header="inputFilter">
            </el-table-column>

            <el-table-column
                prop="url"
                label="Партнер"
                min-width="130"
                :render-header="inputFilter">
            </el-table-column>

            <el-table-column
                prop="sort"
                width="150"
                label="Сортировка"
                align="center"
                :render-header="inputFilter">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!isAdmin"
                        column="sort"
                        @update-editor="editRecordInline(scope.row)"
                        type="number"
                    />
                </template>
            </el-table-column>

            <el-table-column
                prop="hidden"
                label="Скрыть"
                width="120"
                align="center"
                :render-header="selectFilter">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.hidden"
                        v-if="isAdmin"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.hidden" v-else></el-checkbox>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
            <el-pagination
              background
              layout="prev, pager, next"
              :page-size="perPage"
              :total="totalCount"
              :current-page="currentPage"
              @current-change="changePage">
            </el-pagination>
        </div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected" ref="EditorTabs">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Заголовок" prop="name">
                            <el-input v-model="formData.name" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Партнер">
                            <el-input v-model="formData.url" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="URL">
                            <el-input v-model="formData.href" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Сортировка">
                            <el-input v-model="formData.sort" type="number" min="1" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Скрыть">
                            <el-checkbox v-model="formData.hidden" :disabled="!isAdmin"></el-checkbox>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>

                <el-tab-pane label="Изображения" name="images" v-if="formData && formData.id">
                    <ImageTabRow
                        v-if="currentRow"
                        title = "Превью в списках"
                        v-model="currentRow.preview_img"
                        :uploaderData="{pnews_id: currentRow.id}"
                        :original="currentRow.preview_img_original"
                        @upload-image="refreshCurrentRow"
                    ></ImageTabRow>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer" v-if="showSaveBtn">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState }         from 'vuex'
import { NixTable }         from '@/mixins/NixTable'
import TableImage           from '@/components/TableImage'
import TableInlineEditor    from '@/components/TableInlineEditor'
import ImageTabRow          from '@/components/ImageTabRow'

export default {
    components: { TableImage, TableInlineEditor, ImageTabRow },
    mixins: [NixTable],

    data() {
        return {
            module: 'pnews',
            rules: {
                name: [
                    { required: true, message: 'Введите заголовок новости', trigger: 'blur' }
                ],
                url: [
                    { required: true, message: 'Введите короткий URL новости', trigger: 'blur' }
                ],
                href: [
                    { required: true, message: 'Введите URL новости', trigger: 'blur' }
                ],
                sort: [
                    { required: true, message: 'Введите значение сортировки новости', trigger: 'blur' }
                ],
            },
            formData : {},
            formInitData: {
                name   : '',
                url    : '',
                sort   : 10,
                href   : '',
                hidden : false
            },
            dialogFormVisible : false,
            showSaveBtn       : false
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.pnews.list,
            currentRow  : state => state.pnews.currentRow,
            currentPage : state => state.pnews.currentPage,
            totalCount  : state => state.pnews.totalCount,
            perPage     : state => state.pnews.perPage,
            filters     : state => state.pnews.filters,
            sorting     : state => state.pnews.sorting,
        }),
        formTitle(){
            if (!this.currentRow || !this.currentRow.id)
                return 'Добавление новой новости'
            else
                return 'Редактирование новости "' + this.currentRow.name + '"'
        },
        sFilter(){
            return {
                hidden: [
                    {id: 'true', name: 'да'},
                    {id: 'false', name: 'нет'},
                ]
            }
        },
    },

    methods: {
        updateImage(val){
            this.currentRow.preview_img = val
        },
        tabSelected(clicked){
            if (clicked._props.name === 'common')
                this.showSaveBtn = true;
            else
                this.showSaveBtn = false;
        },
        refreshCurrentRow(){
            this.$store.dispatch('pnews/getItem', this.currentRow.id).then(() => {
                setTimeout(() => {
                    this.$store.dispatch('pnews/updateItemInList')
                }, 300);
            });
        }
    },

    watch: {
        list (val) {
            this.list.map(v => {
                this.$set(v, 'editors', {sort: false})
                v.editorsVals = {
                    sort: v.sort
                }
                return v
            })
        },
        dialogFormVisible(val){
            this.showSaveBtn = false
            if (val) {
                let self = this
                setTimeout(() => {
                    if (self.$refs.EditorTabs.currentName === 'common')
                        this.showSaveBtn = true
                }, 300);
            }
        }
    }
}

</script>
