<template>
<div>

	<Blog></Blog>

	<template v-if="isAdmin">
		<div class="dash-rep-container">
			<div class="dash-rep-item">
				<div class="dash-graph-title">Лидеры просмотров</div>
				<div class="dash-double-chart">
					<v-chart :options="articles_graph" auto-resize theme="ovilia-green"  v-if="leadersList.length" />
				</div>
			</div>
		</div>

		<!-- <div class="dash-rep-container">
			<div class="dash-rep-item">
				<div class="dash-graph-title">Посещаемость сайта</div>
				<div class="dash-double-chart">
					<div v-if="!yaToken" style="margin-top:15px;">
						<el-button type="info" @click="authYandex">Авторизоваться в Яндекс.Метрике</el-button>
					</div>
					<div v-if="visitsList"><v-chart :options="visits_graph" auto-resize theme="ovilia-green" /></div>
				</div>
			</div>
		</div> -->
	</template>

</div>
</template>

<script>

import { mapState }  from 'vuex'
import $             from 'jquery'

import ECharts from 'vue-echarts/components/ECharts'
import 'echarts/lib/chart/bar'
import 'echarts/lib/chart/line'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/dataset'
import 'echarts/lib/component/polar'
import 'echarts/lib/component/geo'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/title'
import 'echarts/lib/component/visualMap'
import theme from './graph_theme.json'

ECharts.registerTheme('ovilia-green', theme)

import Blog from '@/views/Blog/Main'

export default {
	components: {
		'v-chart': ECharts,
		Blog
	},

	data: function () {
	    return {}
    },

    computed: {
    	...mapState({
			isAdmin     : state => state.auth.isAdmin,
			isEditor    : state => state.auth.isEditor,
			yaToken     : state => state.yandex.token,
			ya_data     : state => state.yandex.appdata,
			visitsList  : state => state.yandex.visitsList,
			leadersList : state => state.articles.leadersList,
        }),
        articles_graph(){
        	return {
        		tooltip: {
				    formatter: function(params, ticket, callback) {
				      	return  "<div class='chart-tooltip'>" + params.name + ". Просмотров: " + params.value + "</div>";
				    }
				},
				xAxis: {
					type: 'category',
					axisLabel : {
			          formatter: ''
			        },
				},
				yAxis: {},
				series: [{ type: 'bar' }],
				dataset: {
					source: this.leadersList
			    },
	            grid: {
		            top: '25px',
		            left: '1%',
		            right: '1%',
		            bottom: '5px',
		            containLabel: true
		        },
        	}
        },

        visits_graph(){
        	return {
        		tooltip: {
				    trigger: 'axis',
			        position: function (pt) {
			            return [pt[0], '20%'];
			        }
				},
				xAxis: {
					type: 'category',
				},
				yAxis: {},
				series: [{
					type: 'line',
					areaStyle: {} ,
					smooth:true,
		            symbol: 'none',
		            sampling: 'average',
				}],
				dataset: {
					source: this.visitsList
			    },
	            grid: {
		            top: '25px',
		            left: '1%',
		            right: '1%',
		            bottom: '5px',
		            containLabel: true
		        },
        	}
        }
    },
    methods: {
    	authYandex(){
    		let url = 'https://oauth.yandex.ru/authorize?'
    		+ 'response_type=code'
    		+ '&client_id=' + this.ya_data.client_id
    		+ '&redirect_uri=http://bi.verworren.net/yacode'
    		window.location.href = url
    	}
    },
    mounted() {
    	let w = $('.app-main').width() / 2 - 60
    	let double_w = $('.app-main').width() - 60
    	$('.dash-chart').width(w)
    	$('.dash-double-chart').width(double_w)
    },
    created () {
    	this.$store.dispatch('articles/getLeadersList')

  //   	this.$store.dispatch('service/getAll').then(() => {
		// 	this.$store.dispatch('yandex/getVisits')
		// })

    },
    destroyed(){
        this.$store.commit('articles/set', {type: 'leadersList', items:[]});
    }
}

</script>
