<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord"
                v-if="isAdmin">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-button type="primary"
                    plain
                    size="mini"
                    @click="viewRecord">
                    <svg-icon icon-class="eye-solid"></svg-icon> Просмотр
                </el-button>
            </div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="name"
                label="RSS Канал"
                min-width="130"
                :render-header="inputFilter"
                sortable="custom">
            </el-table-column>

            <el-table-column
                prop="url"
                label="ЧПУ"
                min-width="130"
                :render-header="inputFilter"
                sortable="custom">
            </el-table-column>

            <el-table-column
                prop="path"
                label="Полный URL"
                min-width="130"
                :render-header="noNosortFilter">
            </el-table-column>

            <el-table-column
                prop="active"
                label="Включен"
                width="120"
                :render-header="selectFilter"
                sortable="custom"
                align="center">

                <template slot-scope="scope">
                    <el-checkbox
                    	v-model="scope.row.active"
                    	v-if="isAdmin"
                    	@change="editRecordInline(scope.row)"
                    	></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.active" v-else></el-checkbox>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Канал" prop="name">
                            <el-input v-model="formData.name" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="ЧПУ" prop="url">
                            <HumanUrlEditor
                                v-model="formData"
                                :readonly="!isAdmin || typeof formData.id !== 'undefined'" />
                        </el-form-item>
                        <el-form-item label="Включен">
                            <el-checkbox v-model="formData.active" :disabled="!isAdmin"></el-checkbox>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

        <el-dialog :title="rssPopupTitle" :visible.sync="viewVisible" custom-class="nix-dialog">
            <el-container>
                <el-aside width="250px">
                    <div v-for="article in rssFeed.item" class="rss-item" @click="selectedArticle = article" v-bind:class="article.link === selectedArticle.link ? 'active-rss' : ''">
                        <div class="rss-title">{{article.title}}</div>
                        <div class="rss-date">{{moment(article.pubDate).format('DD.MM.YYYY')}}</div>
                        <div class="rss-author">{{article.author}}</div>
                    </div>
                </el-aside>
                <el-main>
                    <div v-if="selectedArticle.title">
                        <div class="rss-article-title"><a :href="selectedArticle.link" target="_blank">{{selectedArticle.title}}</a></div>
                        <div class="rss-article-date">{{moment(selectedArticle.pubDate).format('DD.MM.YYYY')}}</div>
                        <div class="rss-article-author">{{selectedArticle.author}}</div>
                        <div class="rss-article-images" v-if="selectedArticle.enclosure && selectedArticle.enclosure.length">
                            <img :src="img" v-for="img in selectedArticle.enclosure">
                        </div>
                        <div class="rss-article-text" v-html="selectedArticle.content"></div>
                    </div>
                </el-main>
            </el-container>
        </el-dialog>

    </div>

</template>

<script>

import { mapState }         from 'vuex'
import { NixTable }         from '@/mixins/NixTable'
import TableInlineEditor    from '@/components/TableInlineEditor'
import HumanUrlEditor       from '@/components/HumanUrlEditor'

export default {
    components: { TableInlineEditor, HumanUrlEditor },
    mixins: [NixTable],

    data() {
        return {
        	module: 'rss',
            rules: {
                name: [
                    { required: true, message: 'Введите название канала', trigger: 'blur' }
                ],
                url: [
                    { required: true, message: 'Введите URL канала', trigger: 'blur' }
                ],
            },
            formInitData: {
				name   : '',
				url    : '',
				active : false
            },
            viewVisible:false,
            selectedArticle: {}
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.rss.list,
            currentRow  : state => state.rss.currentRow,
            currentPage : state => state.rss.currentPage,
            totalCount  : state => state.rss.totalCount,
            perPage     : state => state.rss.perPage,
            filters     : state => state.rss.filters,
            sorting     : state => state.rss.sorting,

            rssFeed     : state => state.rss.rssFeed,
        }),
        formTitle(){
            if (!this.currentRow || !this.currentRow.id)
                return 'Добавление нового RSS канала'
            else
                return 'Редактирование RSS канала "' + this.currentRow.name + '"'
        },
        rssPopupTitle(){
            if (!this.rssFeed.title) return ''
            return this.rssFeed.title
        },
        sFilter(){
        	return {
        		active: [
            		{id: 'true', name: 'да'},
            		{id: 'false', name: 'нет'},
            	]
        	}
        }
    },

    methods: {
        viewRecord(){
            this.viewVisible = true
            this.selectedArticle = {}
            this.$store.dispatch(this.module + '/getRss');
        },
    }
}

</script>

<style>
  .el-aside {
    background-color: #545c64;
    color: #333;
    height: calc(100vh - 120px);
    overflow: auto;
  }

  .el-main {
    background-color: #f5faff;
    color: #333;
    height: calc(100vh - 120px);
    overflow: auto;
  }

  .rss-item {
    padding: 10px;
    cursor: pointer;
  }

  .rss-item:hover {
    background-color: #393e43;
  }

  .active-rss .rss-title {
    color:#ffd04b;
    font-weight: bold;
  }
  .rss-title {
    color:#fff;
    font-weight: bold;
  }

  .rss-date {
    padding-top: 10px;
  }

  .rss-date, .rss-author {
    color:#c0c0c0;
    font-size: 12px;
  }

  .rss-article-title {
    font-size: 25px;
    padding-bottom: 20px;
    color: #545c64;
    font-weight: bold;
  }

  .rss-article-images {
    margin-top: 20px;
  }

  .rss-article-images img {
    width:initial !important;
    max-width: 100%;
  }

</style>

