<template>
  <div :class="{fullscreen:fullscreen}" class="tinymce-container editor-container">
    <textarea :id="tinymceId" class="tinymce-textarea"/>
    <webix-ui :config='uploader' ref='webixUploader'/>
  </div>
</template>

<script>

import tinymce from 'tinymce/tinymce';

import plugins from './plugins'
import toolbar from './toolbar'
import './ru'
import Conf    from '../../../config/url.js'

import 'tinymce/themes/modern/theme';
// import 'tinymce/skins/lightgray/skin.min.css';

import 'webix'
import 'vue-webix'
import 'webix/webix.css'

import $ from 'jquery'

export default {
  name: 'Tinymce',
  props: {
    id: {
      type: String,
      default: 'vue-tinymce-' + +new Date()
    },
    value: {
      type: String,
      default: ''
    },
    toolbar: {
      type: Array,
      required: false,
      default() {
        return []
      }
    },
    menubar: {
      type: String,
      default: 'file edit insert view format table'
    },
    height: {
      type: Number,
      required: false,
      default: 170
    },
    readonly: {
      type: Boolean,
      required: false,
      default: false
    },
    gallery:{
      type: Array,
      required: false,
      default() {
        return []
      }
    },
    article: {
      type: Number,
      required: false,
      default: 0
    },
  },
  data() {
    return {
      hasChange: false,
      hasInit: false,
      tinymceId: this.id,
      fullscreen: false,
      editor_id:''
    }
  },
  computed: {
    uploader() {
      let $this = this
      return {
        view     : "uploader",
        apiOnly  : true,
        upload   : Conf.upload,
        multiple : false,
        autosend : false,
        accept   : "image/png, image/gif, image/jpeg",
        on:{
          onFileUpload:function(data){
            // console.log(data)
            $('input#' + data.id_field).val(data.location);
          },
          onAfterFileAdd:function(param) {
            param.formData = {
              id_field : param.context
            };
            this.send();
          }
        }
      }
    },
    galleryOptions(){
      let values = []

      this.gallery.forEach(key => {
        values.push({id: key.id, text: key.name})
      })

      return values
    }
  },
  watch: {
    value(val) {
      if (!this.hasChange && this.hasInit) {
        this.$nextTick(() =>
          window.tinymce.get(this.tinymceId).setContent(val || ''))
      }
    },
    gallery(val) {
      if (val) {
        window.tinymce.get(this.tinymceId).settings.gallery_array = this.galleryOptions;
        window.tinymce.get(this.tinymceId).plugins.gallery.refresh();
      }
    }
  },
  mounted() {
    this.initTinymce(this.tinymceId)
  },
  activated() {
    this.initTinymce(this.tinymceId)
  },
  deactivated() {
    this.destroyTinymce()
  },
  destroyed() {
    this.destroyTinymce()
  },
  methods: {
    listenChildChanges(){
      const _this =  this;
      const iframe = window.tinymce.get(this.tinymceId);
      const observer = new MutationObserver(function(mutations){
        if (mutations.length === 0) return;
        for (let mutation of mutations){
          if (mutation.addedNodes && mutation.addedNodes.length > 0) {
            _this.restorePinterest();
            observer.disconnect();
          }
        }
      });
      observer.observe( iframe.contentDocument.getElementsByTagName('body')[0], {
        childList: true,
        subtree: true
      });
    },
    restorePinterest() {
      const iframe = window.tinymce.get(this.tinymceId);
      const pinterestResults = iframe.contentDocument.querySelectorAll('span[data-pin-id][data-pin-href][data-pin-log=embed_pin_large]');
      if (pinterestResults.length > 0) {
        pinterestResults.forEach((pinterestResult) => {
          const pinId = pinterestResult.dataset.pinId;
          const initialCode = document.createElement("a");
          initialCode.setAttribute('data-pin-width', 'large');
          initialCode.setAttribute('data-pin-do', 'embedPin');
          initialCode.setAttribute('href', `https://www.pinterest.com/pin/${pinId}/`);
          initialCode.innerHTML = "&nbsp;";
          pinterestResult.parentNode.replaceChild(initialCode, pinterestResult);
        });
        const oldPinterestScripts = iframe.contentDocument.querySelectorAll('script[src^="https://log.pinterest.com/?],script[src^=//assets.pinterest.com/js/]"');
        for (const oldPinterestScript of oldPinterestScripts){
          oldPinterestScript.parentNode.removeChild(oldPinterestScript);
        }
        const sc = document.createElement("script");
        sc.setAttribute("id", 'beicon-pinterest-init');
        sc.setAttribute("src", '//assets.pinterest.com/js/pinit.js');
        sc.setAttribute("type", "text/javascript");

        const pinterestScript = iframe.contentDocument.getElementById('pinterest-script');
        if (pinterestScript)
          pinterestScript.parentNode.replaceChild(sc, pinterestScript);
        else
          iframe.contentDocument.getElementsByTagName('head')[0].appendChild(sc);
      }
    },

    initTinymce(e) {
      const _this = this

      window.tinymce.init({
        advlist_bullet_styles        : 'square',
        advlist_number_styles        : 'default',
        article                      : _this.article,
        body_class                   : 'panel-body ',
        branding                     : false,
        code_dialog_height           : 450,
        code_dialog_width            : 1000,
        contextmenu                  : "cut copy paste | spellchecker | link image media inserttable | cell row column deletetable",
        convert_urls                 : false,
        default_link_target          : '_blank',
        editor_id                    : _this.editor_id,
        elements                     : e,
        end_container_on_empty_block : true,
        gallery_array                : _this.galleryOptions,
        height                       : this.height,
        image_advtab                 : true,
        invalid_elements             : "div",
        language                     : 'ru',
        link_title                   : false,
        menubar                      : false,
        mode                         : "exact",
        nonbreaking_force_tab        : true,
        object_resizing              : false,
        plugins                      : plugins,
        powerpaste_word_import       : 'clean',
        readonly                     : this.readonly,
        relative_urls                : false,
        remove_script_host           : false,
        save_enablewhendirty         : false,
        skin_url                     : '/static/tinyskin/',
        statusbar                    : false,
        browser_spellcheck: true,
        gecko_spellcheck: true,
        valid_children               : "+body[script]",
        extended_valid_elements      : "script[language|type|async|src|charset|id],blocksect,iframe[src|frameborder|style|scrolling|class|width|height|name|align]",
        toolbar                      : this.toolbar.length > 0 ? this.toolbar : toolbar,
        file_browser_callback: function(field_name, url, type, win) {
          _this.$refs.webixUploader.webixId.fileDialog(field_name);
        },
        init_instance_callback: editor => {
          if (_this.value) {
            editor.setContent(_this.value)
          }
          _this.hasInit = true
          editor.on('NodeChange Change KeyUp SetContent', () => {
            this.hasChange = true
            this.$emit('input', editor.getContent())
          })
        },
        setup(editor) {
          editor.on('init', function (args) {
            _this.editor_id = args.target.id;
          });
          editor.on('FullscreenStateChanged', (e) => {
            _this.fullscreen = e.state
          })
        }
      })
      this.listenChildChanges();
    },
    destroyTinymce() {
      if (window.tinymce.get(this.tinymceId)) {
        window.tinymce.get(this.tinymceId).destroy()
      }
    },
    setContent(value) {
      window.tinymce.get(this.tinymceId).setContent(value)
    },
    getContent() {
      window.tinymce.get(this.tinymceId).getContent()
    },
    imageSuccessCBK(arr) {
      const _this = this
      arr.forEach(v => {
        window.tinymce.get(_this.tinymceId).insertContent(`<img class="wscnph" src="${v.url}" >`)
      })
    }
  }
}
</script>

<style scoped>
.tinymce-container {
  position: relative;
}
.tinymce-container>>>.mce-fullscreen {
  z-index: 10000;
}
.tinymce-textarea {
  visibility: hidden;
  z-index: -1;
}
.editor-custom-btn-container {
  position: absolute;
  right: 4px;
  top: 4px;
  /*z-index: 2005;*/
}
.fullscreen .editor-custom-btn-container {
  z-index: 10000;
  position: fixed;
}
.editor-upload-btn {
  display: inline-block;
}
.tinymce-container {
	width: calc(100% - 2px);
}
</style>
