<template>
	<el-button :type="buttonType"
        plain
        size="mini"
        @click="exportData"
        :loading="loading">
        Экспорт в Excel
    </el-button>
</template>

<script>
export default {
	name: 'Excel',
	props: {
		module: {
	      	type: String,
	      	required: true,
	    },
	    header: {
    		type: Array,
      		required: true,
    	},
    	fields: {
    		type: Array,
      		required: true,
    	},
	},
	data(){
		return {
			loading: false,
		}
	},
	computed: {
		buttonType(){
			if (this.loading)
				return 'warning'
			else
				return 'info'
		}
	},
	methods: {
		exportData(){
			this.loading = true
			import('./Export2Excel').then(excel => {
				this.$store.dispatch(this.module + '/getExportData').then((list) => {
					const data = this.formatJson(this.fields, list)
					excel.export_json_to_excel({
			          	header: this.header,
			          	data,
			          	filename: 'excel-export', //Optional
				    	autoWidth: false, //Optional
					    bookType: 'xlsx' //Optional
			        })
			        this.loading = false
				})
			})
		},
		formatJson(filterVal, jsonData) {
	      	return jsonData.map(v => filterVal.map(j => {
	        	if (j === 'timestamp') {
	          		return parseTime(v[j])
	        	} else {
	          		return v[j]
	        	}
	      	}))
	    }
	}
}
</script>
