<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord"
                v-if="rights.add">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="rights.edit && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="rights.del && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="shortcode"
                label="Шорткод"
                width="130">
            </el-table-column>

            <el-table-column
                prop="content"
                label="Рекламный код"
                min-width="250">

                <template slot-scope="scope">
                    <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width:250px">{{scope.row.content}}</div>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
            <el-pagination
              background
              layout="prev, pager, next"
              :page-size="perPage"
              :total="totalCount"
              :current-page="currentPage"
              @current-change="changePage">
            </el-pagination>
        </div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Шорткод" prop="name">
                            <el-input v-model="formData.shortcode"></el-input>
                        </el-form-item>
                        <el-form-item label="Рекламный код">
                            <el-input v-model="formData.content" type="textarea" :rows="8"></el-input>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState, mapGetters } from 'vuex'
import { NixTable }             from '@/mixins/NixTable'
import TableInlineEditor        from '@/components/TableInlineEditor'

export default {
    components: { TableInlineEditor },
    mixins: [NixTable],

    data() {
        return {
            module: 'marketings',
            rules: {
                shortcode: [
                    { required: true, message: 'Введите шорткод', trigger: 'blur' }
                ],
                content: [
                    { required: true, message: 'Введите рекламный код', trigger: 'blur' }
                ],
            },
            formTitles : {
                new_rec  : 'Добавление нового кода',
                edit_rec : 'Редактирование кода'
            },
            formInitData: {
                name    : '',
                keyname : '',
                value   : '',
            },
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.marketings.list,
            currentRow  : state => state.marketings.currentRow,
            currentPage : state => state.marketings.currentPage,
            totalCount  : state => state.marketings.totalCount,
            perPage     : state => state.marketings.perPage,
            filters     : state => state.marketings.filters,
            sorting     : state => state.marketings.sorting,
        }),
        ...mapGetters({
            rights   : 'rights/marketings',
        }),
    },

}

</script>
