<template>
  <div id="app">
    <div v-if='isAuthed'  :class="classObj" class="app-wrapper">
            <Sidebar class="sidebar-container"></Sidebar>
            <div class="main-container">
                <Navbar></Navbar>
                <section class="app-main">
                    <transition name="fade-transform" mode="out-in">
                        <div id="app-container" v-if="!noResponse && !error_404"><router-view /></div>
                        <div  id="app-container" v-if="noResponse">
                            <ErrorNoResponse></ErrorNoResponse>
                        </div>
                        <div  id="app-container" v-if="error_404">
                            <Error404></Error404>
                        </div>
                    </transition>
                </section>
            </div>
    </div>

    <Login  v-if="!isAuthed"></Login>
  </div>
</template>

<script>

import Vue                  from 'vue'
import { mapState }         from 'vuex'

import { Loading }          from 'element-ui';

import Login                from './App/Login.vue'
import Sidebar              from './App/Sidebar.vue'
import Navbar               from './App/Navbar.vue'
import ErrorNoResponse      from './App/Errors/NoResponse.vue'
import Error404             from './App/Errors/404.vue'

export default {
    components: { Login, Sidebar, Navbar, ErrorNoResponse, Error404 },

    computed: {
        ...mapState({
            isAuthed    : state => state.auth.isAuthed,
            sidebar     : state => state.app.sidebar,
            user        : state => state.auth.user,
            addResult   : state => state.app.addResult,
            editResult  : state => state.app.editResult,
            delResult   : state => state.app.delResult,
            validResult : state => state.app.validResult,
            loader      : state => state.app.loader,
            noResponse  : state => state.app.noResponse,
            error_404   : state => state.app.error_404,
            authError   : state => state.auth.authError,
        }),
        classObj() {
            return {
                hideSidebar      : !this.sidebar.opened,
                openSidebar      : this.sidebar.opened,
                withoutAnimation : this.sidebar.withoutAnimation,
            }
        },
        key() {
            return this.$route.fullPath
        },
    },

    watch:{
        $route (to, from){
            this.$store.dispatch('app/clear_errors')

            if (!to.meta || !to.meta.roles){
                return
            }

            if (!this.user.role) {
                return
            }

            else if (to.meta.roles.indexOf(this.user.role) < 0)
                this.$router.push('/')
        },
        user (to, from){
            if (!this.user.role) {
                return
            }
            else if (!this.$route.meta) {
                return
            }
            else if (!this.$route.meta.roles) {
                return
            }
            else if (this.$route.meta.roles.indexOf(this.user.role) < 0) {
                this.$router.push('/')
            }

        },
        loader(){
            if (this.loader) {
                this.$loading({ fullscreen: true })
            }
            else {
                this.$loading().close()
            }
        },
        addResult() {
            if (this.addResult) {
                if (this.addResult === 'success')
                    this.$message({
                        message: 'Данные успешно добавлены.',
                        type: 'success'
                    });
                if (this.addResult === 'error')
                    this.$message.error('Произошла ошибка добавления данных');
            }
            this.$store.commit('app/set', {type: 'addResult', items: ''})
        },
        editResult() {
            if (this.editResult) {
                if (this.editResult === 'success')
                    this.$message({
                        message: 'Данные успешно отредактированы.',
                        type: 'success'
                    });
                if (this.editResult === 'error')
                    this.$message.error('Произошла ошибка редактирования данных');
            }
            this.$store.commit('app/set', {type: 'editResult', items: ''})
        },
        delResult() {
            if (this.delResult) {
                if (this.delResult === 'success')
                    this.$message({
                        message: 'Данные успешно удалены.',
                        type: 'success'
                    });
                if (this.delResult === 'error')
                    this.$message.error('Произошла ошибка удаления данных');
            }
            this.$store.commit('app/set', {type: 'delResult', items: ''})
        },
        validResult(){
            if (this.validResult) {
                this.$message({
                    message: 'Ошибка! ' + this.validResult,
                    type: 'error'
                });
            }
            this.$store.commit('app/set', {type: 'validResult', items: ''})
        },
        authError(val) {
            if (val) {
                let text = 'Произошла ошибка авторизации в системе.'
                if (typeof val === 'string')
                    text +=  ' ' + val

                this.$message({
                    message: text,
                    type: 'error'
                });
                 this.$store.commit('auth/set', {type: 'authError', items: ''})
            }
        }
    },

    created: function() {
        this.$store.dispatch('auth/getUser')
    },
};
</script>
