<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord"
                v-if="isAdmin">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index">
            </el-table-column>

            <el-table-column
                prop="email"
                label="Email подписчика"
                min-width="130"
                :render-header="inputFilter"
                sortable="custom">
            </el-table-column>

            <el-table-column
                prop="active"
                label="Включен"
                width="150"
                :render-header="selectFilter"
                sortable="custom">

                <template slot-scope="scope">
                    <el-checkbox
                    	v-model="scope.row.active"
                    	v-if="isAdmin"
                    	@change="editRecordInline(scope.row)"
                    	></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.active" v-else></el-checkbox>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common" @tab-click="tabSelected">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Email" prop="email">
                            <el-input v-model="formData.email" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Включен">
                            <el-checkbox v-model="formData.active" :disabled="!isAdmin"></el-checkbox>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState }         from 'vuex'
import { NixTable }         from '@/mixins/NixTable'
import TableInlineEditor    from '@/components/TableInlineEditor'

export default {
    components: { TableInlineEditor },
    mixins: [NixTable],

    data() {
        return {
        	module: 'subscribers',
            rules: {
                email: [
                    { required: true, message: 'Введите email для подписки', trigger: 'blur' }
                ],
            },
            formData : {},
            formInitData: {
                email  : '',
                active : true
            },
            dialogFormVisible:false
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.subscribers.list,
            currentRow  : state => state.subscribers.currentRow,
            currentPage : state => state.subscribers.currentPage,
            totalCount  : state => state.subscribers.totalCount,
            perPage     : state => state.subscribers.perPage,
            filters     : state => state.subscribers.filters,
            sorting     : state => state.subscribers.sorting,
        }),
        formTitle(){
            if (!this.currentRow || !this.currentRow.id)
                return 'Добавление нового подписчика'
            else
                return 'Редактирование подписчика "' + this.currentRow.name + '"'
        },
        sFilter(){
        	return {
        		active: [
            		{id: 'true', name: 'да'},
            		{id: 'false', name: 'нет'},
            	]
        	}
        }
    },

}

</script>
