<template>
	<el-button size="mini" type="info"  @click.prevent.stop="guide">
		<svg-icon icon-class="question"></svg-icon> Справка
	</el-button>
</template>

<script>
export default {
	methods: {
	    guide() {
	    	let steps = [
	      		{
				    element: '.button_panel',
				    popover: {
				      title: 'Панель управления статьями',
				      description: 'Кнопки управления статьями',
				      position: 'bottom'
				    }
			  	},{
				    element: '.article_preview_img',
				    popover: {
				      title: 'Изображение в превью',
				      description: 'Изображение для превью статьи (на главной странице, на странице категории)',
				      position: 'bottom'
				    }
			  	},{
				    element: '.article_header_img',
				    popover: {
				      title: 'Изображение в заголовке',
				      description: 'Изображение для заголовка статьи (на странице статьи)',
				      position: 'bottom'
				    }
			  	}
	      	]

  			this.$guider.defineSteps(steps)
	      	this.$guider.start()
	    },
  	},
  	mounted() {

  	}
}
</script>
