<template>
	<el-button size="small" type="info" plain @click.prevent.stop="guide">
		<svg-icon icon-class="question"></svg-icon>
	</el-button>
</template>

<script>

export default {
	name: 'Help',
  	methods: {
	    guide() {
	      	this.$guider.start()
	    },
  	},
  	mounted() {
  		let steps = [
	      		{
				    element: '.hamburger-container',
				    popover: {
				      title: 'Меню',
				      description: 'Скрыть/показать боковое меню',
				      position: 'bottom'
				    }
			  	},{
				    element: '.breadcrumb-container',
				    popover: {
				      title: 'Хлебные крошки',
				      description: 'Отображают то, в каком разделе вы находитесь',
				      position: 'bottom'
				    }
			  	},{
				    element: '.not-container',
				    popover: {
				      title: 'Уведомления',
				      description: 'Уведомления о действиях пользователей системы.<br>Количество уведомлений (если они есть) отображается на кнопке.<br>Уведомления отображаются до тех поры, пока не будут Вами удалены.',
				      position: 'left'
				    }
			  	},{
				    element: '.sf-container',
				    popover: {
				      title: 'Полный экран',
				      description: 'Открывает страницу на полный экран, если это поддерживается Вашим браузером',
				      position: 'left'
				    }
			  	},{
				    element: '.profile-container',
				    popover: {
				      title: 'Профиль пользователя',
				      description: 'Здесь вы можете сменить пароль или выйти из системы',
				      position: 'left'
				    }
			  	}
	      	]

  		this.$guider.defineSteps(steps)
  	}
}

</script>
