<template>
	<div>
		<draggable
			v-if="list"
			class="gal-list-container"
			ref="draggableList"
			v-model="list"
			>

			<div class="gal-image-container" v-for="image in list" :key="image.id">
				<div @click="handleCurrentChange(image)" class="gal-image-container-inner">
					<el-card :body-style="{ padding: '0px' }">
						<div>
	      					<img :src="makeImgPath(image.preview)" style="width:200px; height:200px;">
	      				</div>

	      				<div style="padding: 14px;">

	      					<div class="gal-image-sort" v-if="!image.editmode">{{image.sort}}</div>
	      					<div class="gal-image-sort-edit" v-else>
	      						<el-input
								  	placeholder="Сортировка"
								  	v-model="image.sort">
								</el-input>
	      					</div>

	      					<div class="gal-image-content" v-if="!image.editmode">{{image.content}}</div>
	      					<div class="gal-image-content-edit" v-else>
	      						<el-input
								  	type="textarea"
								  	:rows="2"
								  	placeholder="Описание фотографии"
								  	v-model="image.content">
								</el-input>
	      					</div>

	      					<div class="gal-image-btns">
	      						<div v-if="!image.editmode">
			  						<el-button
			  							plain
			  							icon="el-icon-picture"
			  							type="info" circle
			  							@click="viewImageVariations(image)"
			  						></el-button>
			  					</div>

			  					<div v-if="!image.editmode">
			  						<el-button
			  							plain
			  							icon="el-icon-edit"
			  							type="primary"
			  							circle
			  							@click="startEditImage(image)"
			  							>
			  						</el-button>
			  					</div>

			  					<div v-if="image.editmode">
			  						<el-button
			  							plain
			  							icon="el-icon-refresh"
			  							type="warning"
			  							circle
			  							@click="cancelEditImage(image)"
			  							>
			  						</el-button>
			  					</div>

			  					<div v-if="image.editmode">
			  						<el-button
			  							plain
			  							icon="el-icon-circle-check-outline"
			  							type="success"
			  							circle
			  							@click="saveEditImage(image)"
			  							>
			  						</el-button>
			  					</div>

			  					<div v-if="!image.editmode">
				  					<el-popover
					                    placement="top"
					                    width="160"
					                    v-model="image.delVisible">
					                    <p><center>Удалить изображение?</center></p>
					                    <div style="text-align: center; margin: 0">
					                        <el-button size="mini" type="text" @click="image.delVisible = false">нет</el-button>
					                        <el-button type="primary" size="mini" @click="deleteImage(image)">да</el-button>
					                    </div>

					                    <el-button plain icon="el-icon-delete" type="danger" circle @click="image.delVisible = !image.delVisible" slot="reference"></el-button>
					                </el-popover>
					            </div>
	      					</div>
	      				</div>
					</el-card>
				</div>
			</div>
		</draggable>

		<div v-else>
  			Нет загруженных изображений
  		</div>
	</div>
</template>

<script>

import { mapState }  from 'vuex'
import Conf          from '../../../config/url.js'
import draggable     from 'vuedraggable'

export default {
	name:'GalleryImage',

	components: { draggable,},

	props: {
		id_gallery: {
	    	type: Number,
	      	required: true
	    },
	},

	computed: {
		...mapState({
			gallery       : state => state.gallery.currentRow,
			list          : state => state.galleryitems.list,
			currentRow    : state => state.galleryitems.currentRow,
			variationsVis : state => state.galleryitems.variationsVis,

		}),
		uploadUrl(){
			return Conf.upload
		},
		list: {
	        get() {
	            return this.$store.state.galleryitems.list
	        },
	        set(value) {
	            this.$store.dispatch('galleryitems/changeImageSort', {list: value, gallery_id: this.id_gallery});
	        }
	    },
	},

	methods: {
		makeImgPath(picUrl) {
			return picUrl + '?a=' + Math.random()
		},

		handleCurrentChange(val){
            if (val) this.$store.commit('galleryitems/set', {type: 'currentRow', items:val});
        },

        refresh(){
        	this.$store.dispatch('galleryitems/getList', this.id_gallery);
        },

		startEditImage(image){
			this.$store.commit('galleryitems/set', {type: 'currentRow', items:image});
        	image.editorsVals.content = image.content
        	image.editorsVals.sort = image.sort
        	image.editmode = true
        },

        cancelEditImage(image) {
			image.content  = image.editorsVals.content,
			image.sort  = image.editorsVals.sort,
			image.editmode = false
        },

        saveEditImage(image) {
        	image.editmode = false
        	this.$store.dispatch('galleryitems/updateItem', image)
        },

        deleteImage(image){
        	image.delVisible = false

        	this.$store.dispatch('galleryitems/deleteItem', image.id)
        },

        viewImageVariations(image) {
        	this.$store.commit('galleryitems/set', {type: 'currentRow', items:image});
        	this.$store.commit('galleryitems/set', {type: 'variationsVis', items:true});
        }
	},

	mounted(){
		this.$store.dispatch('galleryitems/getList', this.id_gallery);
	}
}

</script>
