<template>
	<div class="galleryTblContainer">

		<div v-if="article">
			<div style="display:flex;margin-bottom:15px;">
				<div class="spacer"></div>
				<div>
					<el-button type="primary"
			            plain
			            size="mini"
			            @click="addGallery">
			            <svg-icon icon-class="plus"></svg-icon> Добавить галерею
			        </el-button>
			    </div>
			</div>
		</div>

		<el-table
			:data="list"
			style="width: 100%"
			:height="tableHeight"
			size="mini"
			row-class-name="galleryTblRow"
			row-key="id"
			ref="galleryTbl"
			header-row-class-name="galleryTblHeader"
			@current-change="handleCurrentChange"
			@expand-change="unExpand"
			>

			<el-table-column type="expand">
				<template slot-scope="props">
					<Images :id_gallery="props.row.id" ref="ImagesList"/>

				</template>
			</el-table-column>

			<el-table-column
		      	type="index">
		  	</el-table-column>

		  	<el-table-column
		      	prop="name"
		      	label="Название"
		      	min-width="180">
		      	<template slot-scope="scope">
			      	<template v-if="scope.row.editmode">
			      		<el-input v-model="scope.row.name" size="small"/>
			      	</template>
			      	<span v-else>{{ scope.row.name }}</span>
		      	</template>
		    </el-table-column>

		    <el-table-column
		      	prop="type"
		      	label="Тип"
		      	min-width="180">

		      	<template slot-scope="scope">
			      	<template v-if="scope.row.editmode">
			      		<el-select v-model="scope.row.type" size="small">
			                <el-option
						      v-for="item in types_list"
						      :key="item.id"
						      :label="item.name"
						      :value="item.id">
						    </el-option>
			            </el-select>
			      	</template>
			      	<span v-else>{{types_hash[scope.row.type]}}</span>
		      	</template>

		    </el-table-column>

		    <el-table-column
		      	prop="qty"
		      	label="Количество фотографий"
		      	min-width="170">
		      	<template slot-scope="scope">
		      		<span v-if="scope.row.items">{{scope.row.items.length}}</span>
		      		<span v-else>0</span>
		      	</template>
		    </el-table-column>

		    <el-table-column
		      	prop="article_name"
		      	label="Статья"
		      	min-width="280"
		      	v-if="!article">
		    </el-table-column>

		    <el-table-column
		    	align="center"
		    	label=""
		    	width="180">

		    	<template slot-scope="scope">
		    		<div style="display:flex">

		    			<el-button
	          				v-if="!scope.row.editmode"
	          				type="danger"
	          				size="small"
	          				icon="el-icon-delete"
	          				@click="delGal(scope.row)">
	          			</el-button>

		    			<el-button
			    			v-if="scope.row.editmode"
			    			type="warning"
			    			size="small"
			    			icon="el-icon-refresh"
			    			@click="cancelEditGal(scope.row)">
			    		</el-button>

			    		<el-button
			    			v-if="scope.row.editmode"
			    			type="success"
			    			size="small"
			    			icon="el-icon-circle-check-outline"
			    			@click="saveEditGal(scope.row)">
			    		</el-button>

			    		<el-button
	          				v-if="!scope.row.editmode"
	          				type="primary"
	          				size="small"
	          				icon="el-icon-edit"
	          				@click="startEditGal(scope.row)">
	          			</el-button>

	          			<div style="margin-left:10px;" v-if="!scope.row.editmode">
	          				<el-upload
							  	:action="uploadUrl"
							  	list-type="text"
							  	name="upload"
							  	multiple
							  	accept="image/*"
							  	:on-error="handleUploaderError"
							  	:show-file-list="false"
							  	:data="{gallery_id: scope.row.id}"
							  	:on-progress="handleProgress"
							  	:on-success="handleUploaderSuccess">
							  	<el-button
			          				type="success"
			          				size="small"
			          				icon="el-icon-upload">
			          			</el-button>
							</el-upload>
	          			</div>

		    		</div>
		    	</template>

		    </el-table-column>

		</el-table>

		<div class="nixtbl-pagination">
	        <el-pagination
			  background
			  layout="prev, pager, next"
			  :page-size="perPage"
			  :total="totalCount"
			  :current-page="currentPage"
			  @current-change="changePage">
			</el-pagination>
		</div>

		<el-dialog
  			:visible.sync="uploadNotification"
  			center
  			:close-on-click-modal="false"
  			:close-on-press-escape="false"
  			:show-close="true"
  			custom-class="upload-progress">

  			<ul class="lists" style="max-height:400px; overflow-y:scroll;">
  				<li v-for="file in uploadingFiles">
  					<div>{{file.name}}</div>
  					<div class="spacer"></div>
  					<div style="width:40%"><el-progress :percentage="file.percentage" :status="fileUploadStatus(file.percentage)"></el-progress></div>
  				</li>
  			</ul>

		</el-dialog>

		<Variations />
	</div>
</template>

<script>

import { mapState }  from 'vuex'
import Images        from './Images.vue'
import Variations    from './Variations.vue'
import Conf          from '../../../config/url.js'

export default {
	name: 'Gallery',

	components: { Images, Variations },

	props: {
		article: {
	    	type: Number,
	      	default: 0
	    },
	    tableHeight: {
	    	type: Number,
	      	default: 0
	    }
	},

	data(){
		return {
			uploadPercentage : 0,
			uploadNotification: false,
			uploadingFiles: []
		}
	},

	computed: {
		...mapState({
			list        : state => state.gallery.list,
			currentRow  : state => state.gallery.currentRow,

			currentPage : state => state.gallery.currentPage,
			totalCount  : state => state.gallery.totalCount,
			perPage     : state => state.gallery.perPage,

			types_hash  : state => state.gallery.typesHash,
			types_list  : state => state.gallery.typesList,
		}),
		uploadUrl(){
			return Conf.upload
		},
	},

	methods:{
		addGallery(){
			this.$store.commit('gallery/set', {type: 'currentRow', items:{}});
			let row = {
				name       : 'Новая галерея',
				type       : 'default',
				article_id : this.article
			}

			this.$store.dispatch('gallery/addItem', row)
		},

		handleCurrentChange(val){
            if (val) this.$store.commit('gallery/set', {type: 'currentRow', items:val});
        },

        unExpand(row, expandedRows){
        	this.$store.commit('gallery/set', {type: 'currentRow', items:row});

			expandedRows.forEach(key => {
				if (key.id != row.id)
					this.$refs.galleryTbl.toggleRowExpansion(key, false)
			})
		},

		startEditGal(row){
			row.editmode = true
		},
		cancelEditGal(row){
			row.name     = row.editorsVals.name,
			row.type     = row.editorsVals.type,
			row.editmode = false
		},
		saveEditGal(row){
			row.editmode = false
			this.$store.dispatch('gallery/updateItem', row)
		},

		changePage(newPage){
            this.$store.commit('gallery/set', {type: 'currentPage', items:newPage});
            this.$store.commit('gallery/set', {type: 'currentRow', items:{}});
            this.$store.dispatch('gallery/getList');
        },

        handleProgress(event, file, fileList){
        	this.uploadNotification = true
        	this.uploadingFiles = fileList

        },
        fileUploadStatus(percentage){
        	return (percentage < 100) ? '' : 'success'
        },
        handleUploaderError(err, file, fileList){
        	this.$message({
                message: 'Произошла ошибка загрузки изображения ' + file.name,
                type: 'error'
            });
        },
        handleUploaderSuccess(){
        	if (this.currentRow.id && this.$refs.ImagesList)
        		this.$refs.ImagesList.refresh()
        },

        delGal(row) {
        	this.$confirm('Галерея будет полностью удалена. Продолжить?', 'Внимание!', {
	          	confirmButtonText: 'Да',
	          	cancelButtonText: 'Нет',
	          	type: 'warning'
	        }).then(() => {
	          	this.$store.commit('gallery/set', {type: 'currentRow', items:{}});
            	this.$store.dispatch('gallery/deleteItem', row.id);
	        }).catch(() => {});
        }
	},

	mounted(){
		this.$store.dispatch('gallery/types');
		this.$store.dispatch('gallery/getList', this.article);
	}

}

</script>

<style>

.galleryTblHeader th {
	background-color: #fafafa;
}

.galleryTblRow.expanded {
	background-color: #eaf5ff;
	font-weight: bold;
}

</style>
