<template>
<div>
	<el-dialog
		:visible.sync="variationsVis"
		center
		width="90%"
		custom-class="gal-image-variations-popup"
		:title="image.content"
		>

		<div class="item-image-gallery">
			<div v-for="pic in image.sizes" style="padding: 10px; max-width:15%; min-width: 80px;"  v-if="pic.postfix && pic.postfix !== 'admin'">
				{{pic.postfix}}
				<div class="article-image-holder">
					<img :src="makeImgPath(pic.url)" class="article-image">

					<div class="article-image-actions">
		  				<div class="article-image-actions-btns">
		  					<el-button icon="el-icon-edit" type="info" circle @click="openEditPic(pic)"></el-button>
		  				</div>
		  			</div>
				</div>
			</div>
		</div>

	</el-dialog>

	<el-dialog :visible.sync="dialogEditVisible" fullscreen append-to-body>
		<template slot="title">{{selectedPic.postfix}}</template>

		<div class="cropper-wrapper">
			<div style="display:flex; margin-bottom:20px;">
				<div class="spacer"></div>

				<label for="upload2" style="margin-right:45px;">
					<el-tooltip content="Загрузить другую фотографию">
						<el-button type="warning" circle><svg-icon icon-class="upload"></svg-icon></el-button>
					</el-tooltip>
				</label>
				<input type="file" id="upload2" style="position:absolute; clip:rect(0 0 0 0);" accept="image/png, image/jpeg, image/gif, image/jpg" @change="uploadImg($event)">
				<el-tooltip content="Обновить">
					<el-button type="primary" circle><svg-icon icon-class="sync-solid"></svg-icon></el-button>
				</el-tooltip>
				<el-tooltip content="Увеличить">
					<el-button type="primary" circle @click="changeScale(1)"><svg-icon icon-class="plus-circle-solid"></svg-icon></el-button>
				</el-tooltip>
				<el-tooltip content="Уменьшить">
					<el-button type="primary" circle @click="changeScale(-1)"><svg-icon icon-class="minus-circle-solid"></svg-icon></el-button>
				</el-tooltip>
				<el-tooltip content="Повернуть">
					<el-button type="primary" circle @click="rotateRight"><svg-icon icon-class="rotate"></svg-icon></el-button>
				</el-tooltip>
				<div class="spacer"></div>
				<el-tooltip content="Сохранить">
					<el-button type="success" circle @click="saveCropped(image.url)"><svg-icon icon-class="save-solid"></svg-icon></el-button>
				</el-tooltip>
			</div>

			<vueCropper
				ref="cropper"
				:img="source"
				:info="true"
				:infoTrue="true"
				:fixed="true"
				:autoCrop="true"
				:canScale="true"
				:fixedBox="false"
				:outputType="outputType"
				:fixedNumber="selectedPic.dims"
				:size="1"
				:autoCropWidth="selectedPic.width"
       		 	:autoCropHeight="selectedPic.height"
				>
			</vueCropper>

		</div>
	</el-dialog>

</div>
</template>

<script>

import { mapState }  from 'vuex'
import Conf          from '../../../config/url.js'
import { VueCropper }  from 'vue-cropper'

export default {
	name:'GalleryImageVariations',

	components: {
  		VueCropper
	},

	data(){
		return {
			dialogEditVisible : false,
			selectedPic       : {},
			source            : undefined
		}
	},

	computed: {
		...mapState({
			image : state => state.galleryitems.currentRow,
		}),
		variationsVis: {
			get() {
	            return this.$store.state.galleryitems.variationsVis
	        },
	        set(value) {
	        	this.$store.commit('galleryitems/set', {type: 'variationsVis', items:value});
	        }
		},
		uploadUrl(){
			return Conf.upload
		},
		outputType(){
			return this.get_url_extension(this.image.url)
		}
	},

	methods: {

		makeImgPath(picUrl) {
			return picUrl + '?a=' + Math.random()
		},

		openEditPic(pic) {
			this.selectedPic = pic
			this.dialogEditVisible = true
		},

		changeScale(num) {
	      	num = num || 1;
	      	this.$refs.cropper.changeScale(num);
	    },

	    rotateRight() {
	      	this.$refs.cropper.rotateRight();
	    },

	    refreshCrop() {
	    	this.source = this.image.url
	      	this.$refs.cropper.refresh();
	    },

	    saveCropped(original){
	    	this.$refs.cropper.getCropData((ImageURL) => {
	    		var formData = new FormData();

			   	var block = ImageURL.split(";");
				var contentType = block[0].split(":")[1];
				var realData = block[1].split(",")[1];
				var blob = this.b64toBlob(realData, contentType);

				formData.append('filename', original)
				formData.append('postfix', this.selectedPic.postfix)
				formData.append('location', blob, 'new.' + this.outputType)

				this.$http.post(this.uploadUrl, formData).then(response => {
					this.dialogEditVisible = false
					let body = response.body
					if ('location' in body && body.location)
						this.selectedPic.image = body.location + '?' + new Date().getTime();

			  	}, error => {
			  		this.dialogEditVisible = false
			    	console.log(error)
			  	});
			})
	    },

	    b64toBlob(b64Data, contentType, sliceSize) {
	    	contentType = contentType || '';
	        sliceSize = sliceSize || 512;

	        var byteCharacters = atob(b64Data);
	        var byteArrays = [];

	        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
	            var slice = byteCharacters.slice(offset, offset + sliceSize);

	            var byteNumbers = new Array(slice.length);
	            for (var i = 0; i < slice.length; i++) {
	                byteNumbers[i] = slice.charCodeAt(i);
	            }

	            var byteArray = new Uint8Array(byteNumbers);

	            byteArrays.push(byteArray);
	        }

	      var blob = new Blob(byteArrays, {type: contentType});
	      return blob;
	    },

	    get_url_extension(url) {
	    	if (!url) return
	    	return url.split(/\#|\?/)[0].split('.').pop().trim();
	    },

	    uploadImg(e) {
	    	var file = e.target.files[0];
	    	if (this.get_url_extension(file.name) !== this.outputType) {
	    		this.$message({
	    			message: 'Вы пытаетесь загрузить фотографию с расширением, отличающимся от оригинала. Пожалуйста, выберите изображение с расширением ' + this.outputType,
          			type: 'error'
	    		})
	    		return false;
	    	}

	    	var reader = new FileReader();

	    	reader.onload = e => {
		        let data;
		        if (typeof e.target.result === "object") {
		          data = window.URL.createObjectURL(new Blob([e.target.result]));
		        } else {
		          data = e.target.result;
		        }
		        this.source = data
		        // if (num === 1) {
		        //   this.option.img = data;
		        // } else if (num === 2) {
		        //   this.example2.img = data;
		        // }
	      	};
	    	reader.readAsArrayBuffer(file);
	    }
	},

	watch: {
		dialogEditVisible(val) {
			this.source = this.image.url
			if (this.$refs.cropper) this.$refs.cropper.refresh();
		},
	}
}

</script>

<style>

.gal-image-variations-popup {
	min-height: 80vh !important;
	margin-top: 10vh !important;
}

</style>
