<template>
<div style="seo-col-container">
	<div style="display:flex; justify-content: center; margin-bottom:20px;" v-if="!value.id">
		<div style="width:30%; min-width:200px;">
			<el-alert
			    title="Запись SEO не добавлена."
			    description="Требуется сохранение данных."
			    type="error"
			    center
			    :closable="false"
			    show-icon>
			  </el-alert>
		</div>
	</div>

	<div>
		<el-form :model="value" label-position="right" label-width="120px" size="small"  ref="SeoEditor">

		    <el-row>
		        <el-col :span="12">
		            <el-form-item label="Title">
		                <el-input v-model="value.title"></el-input>
		            </el-form-item>
		        </el-col>
		        <el-col :span="12">
		            <el-form-item label="Keywords">
		                <el-input v-model="value.keywords"></el-input>
		            </el-form-item>
		        </el-col>
		    </el-row>

		    <el-form-item label="Description">
		        <el-input type="textarea"  v-model="value.description" :rows="2"></el-input>
		    </el-form-item>

		    <el-row>
		        <el-col :span="12">
		            <el-form-item label="Приоритет">
		                <el-input v-model="value.priority" type="number" step="0.1" min="0.1" max="0.9"></el-input>
		            </el-form-item>
		        </el-col>
		        <el-col :span="12">
		            <el-form-item label="Посл.обнов.">
		                <el-date-picker v-model="value.last_updated" type="date" format="dd.MM.yyyy" value-format="yyyy-MM-dd"></el-date-picker>
		            </el-form-item>
		        </el-col>
		    </el-row>

		    <el-form-item label="Частота изм.">
		        <el-select v-model="value.changegreq">
		            <el-option label="always" value="always" key="always"></el-option>
		            <el-option label="hourly" value="hourly" key="hourly"></el-option>
		            <el-option label="daily" value="daily" key="daily"></el-option>
		            <el-option label="weekly" value="weekly" key="weekly"></el-option>
		            <el-option label="monthly" value="monthly" key="monthly"></el-option>
		            <el-option label="never" value="never" key="never"></el-option>
		        </el-select>
		    </el-form-item>

		    <el-form-item label="Canonical URL">
		        <el-input v-model="value.canonical_url"></el-input>
		    </el-form-item>

		    <el-row>
		        <el-col :span="12">
		            <el-form-item label="og:title">
		                <el-input v-model="value.og_title"></el-input>
		            </el-form-item>
		        </el-col>
		        <el-col :span="12">
		            <el-form-item label="og:image">
		                <el-input v-model="value.og_image"></el-input>
		            </el-form-item>
		        </el-col>
		    </el-row>

		    <el-row>
		        <el-col :span="12">
		            <el-form-item label="og:locale">
		                <el-input v-model="value.og_locale"></el-input>
		            </el-form-item>
		        </el-col>
		        <el-col :span="12">
		            <el-form-item label="og:site_name">
		                <el-input v-model="value.og_site_name"></el-input>
		            </el-form-item>
		        </el-col>
		    </el-row>

		    <el-form-item label="og:url">
		        <el-input v-model="value.og_url"></el-input>
		    </el-form-item>
		    <el-form-item label="og:description">
		        <el-input v-model="value.og_description"></el-input>
		    </el-form-item>
		</el-form>
	</div>
</div>
</template>

<script>

export default {
	name: 'SeoTab',

	props: {
		value: {
	      	type: Object,
	      	default () {
      			return {}
      		}
	    },
	},

}

</script>
