<template>

	<Gallery
		:article="currentRow.id"
		:tableHeight="tableHeight">
	</Gallery>

</template>

<script>

import { mapState }  from 'vuex'
import Gallery       from '@/components/Gallery'
import $             from 'jquery'

export default {

	components: {Gallery},

	computed: {
		...mapState({
			isAdmin    : state => state.auth.isAdmin,
			currentRow : state => state.articles.currentRow,
        }),
        tableHeight(){
        	return $(window).height() - 330
        },
	}

}
</script>

