<template>
	<div class="nix-tabs article-tabs">

        <div class="button_panel" v-if="showSaveArticleBtn">

            <el-button type="info"
                size="mini"
                plain
                v-if="currentRow && currentRow.id"
                @click="previewArticle">
                Просмотр статьи на сайте
            </el-button>

            <el-button type="success"
                plain
                size="mini"
                @click="saveEdit('publish')"
                v-if="formData.rights.publish">
                Опубликовать на сайте
            </el-button>

            <el-button type="success"
                plain
                size="mini"
                @click="saveEdit('moderate')"
                v-if="formData.rights.moderate">
                Отправить на модерацию
            </el-button>

            <el-button type="warning"
                plain
                size="mini"
                @click="saveEdit('redraft')"
                v-if="formData.rights.redraft">
                Отправить на доработку
            </el-button>

            <div class="spacer"  style="height:28px"></div>

            <el-button type="success"
                plain
                size="mini"
                @click="saveEdit('')"
                v-if="formData.rights.create_new || formData.rights.edit">
                <svg-icon icon-class="save-solid"></svg-icon> Сохранить
            </el-button>

        </div>

        <div class="button_panel" v-if="!showSaveArticleBtn">
            <el-button type="info"
                size="mini"
                plain
                v-if="formData && formData.id"
                @click="previewArticle">
                Просмотр статьи на сайте
            </el-button>
            <div class="spacer"  style="height:28px"></div>
            <el-button type="success"
                size="mini"
                plain
                v-if="showSeoBtn && formData.rights.edit_seo"
                @click="saveSeo">
                Сохранить SEO
            </el-button>
        </div>

        <div v-if="formData.id">
            <div class="article-header-title">
                {{formData.name}}
                <el-tag :type="defineStatusTag(formData.status)">
                    {{ status_hash[formData.status] }}
                </el-tag>
            </div>
        </div>

		<el-tabs value="common" @tab-click="tabSelected" ref="EditorTabs">
            <el-tab-pane label="Статья" name="common">

                <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                    <el-form-item label="Заголовок" prop="name">
                        <el-input v-model="formData.name" :readonly="!formData.rights.edit"></el-input>
                    </el-form-item>

                    <el-form-item label="ЧПУ" prop="url">
                        <HumanUrlEditor
                        v-model="formData"
                        :readonly="readonlyUrl" />
                    </el-form-item>

                    <el-row>
                        <el-col :span="6">
                        	<el-form-item label="Рубрика"  prop="section">
					            <el-select v-model="formData.section" :disabled="!formData.rights.edit">
					                <el-option
								      v-for="item in cat_list"
								      :key="item.id"
								      :label="item.name"
								      :value="item.id">
								    </el-option>
					            </el-select>
					        </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="Вид"  prop="view_type">
                                <el-select v-model="formData.view_type" :disabled="!formData.rights.edit">
                                    <el-option
                                      v-for="item in view_list"
                                      :key="item.id"
                                      :label="item.name"
                                      :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                        	<el-form-item label="Публикация">
                                <el-date-picker
                                    v-model="formData.date_publish"
                                    type="datetime"
                                    format="dd.MM.yyyy HH:mm"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    default-time="12:00:00"
                                    :disabled="!formData.rights.edit">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row>
                        <el-col :span="12">
                        	<el-form-item label="Теги">
                                <span slot="label">
                                    Теги

                                    <el-tooltip placement="top" v-if="formData.rights.edit">
                                      <div slot="content">для добавления нового тега<br>введите тег и нажмите Enter</div>
                                      <i class="el-icon-question"></i>
                                    </el-tooltip>
                                </span>
                        		<el-tag
                        		  size="medium"
								  :key="tag"
								  v-for="tag in formData.tags"
								  :closable="formData.rights.edit"
								  :disable-transitions="false"
								  @close="handleCloseTag(tag)">
								  {{tag}}
								</el-tag>
								<el-autocomplete
							      class="input-new-tag"
                                  popper-class="tag-autocomplete"
							      v-if="inputTagVisible"
							      v-model="inputTagValue"
							      ref="saveTagInput"
							      size="mini"
							      :trigger-on-focus="false"
							      :fetch-suggestions="tagSearch"
							      @select="handleTagInputSelect"
                                  select-when-unmatched
							    >
								    <template slot-scope="{ item }">
									    <div>{{ item.name }}</div>
								  	</template>
								</el-autocomplete>
								<el-button v-if="!inputTagVisible && formData.rights.edit" class="button-new-tag" size="small" @click="showTagInput">+ Тег</el-button>
                        	</el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Персоны">
                                <span slot="label">
                                    Персоны
                                    <el-tooltip placement="top" v-if="formData.rights.edit">
                                      <div slot="content">для добавления новой персоны<br>введите имя и нажмите Enter</div>
                                      <i class="el-icon-question"></i>
                                    </el-tooltip>
                                </span>
                                <el-tag
                                  size="medium"
                                  :key="person"
                                  v-for="person in formData.persons"
                                  :closable="formData.rights.edit"
                                  :disable-transitions="false"
                                  @close="handleClosePerson(tag)">
                                  {{person}}
                                </el-tag>
                                <el-autocomplete
                                  class="input-new-tag"
                                  popper-class="tag-autocomplete"
                                  v-if="inputPersonVisible"
                                  v-model="inputPersonValue"
                                  ref="savePersonInput"
                                  size="mini"
                                  :trigger-on-focus="false"
                                  :fetch-suggestions="personSearch"
                                  @select="handlePersonInputSelect"
                                  select-when-unmatched
                                >
                                    <template slot-scope="{ item }">
                                        <div>{{ item.name }}</div>
                                    </template>
                                </el-autocomplete>
                                <el-button v-if="!inputPersonVisible && formData.rights.edit" class="button-new-tag" size="small" @click="showPersonInput">+ Персона</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row>
                    	<el-col :span="4">
                            <el-form-item label="Выбор редакции" label-width="170px">
                                <el-checkbox v-model="formData.choise" :disabled="!formData.rights.edit"></el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="4">
                            <el-form-item label="Не пропустите" label-width="140px">
                                <el-checkbox v-model="formData.not_miss" :disabled="!formData.rights.edit"></el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="3">
                            <el-form-item label="На главной" label-width="110px">
                                <el-checkbox v-model="formData.show_on_main" :disabled="!formData.rights.edit"></el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="3">
                            <el-form-item label="Тема в блоке" label-width="110px">
                                <el-checkbox v-model="formData.section_topic" :disabled="!formData.rights.edit"></el-checkbox>
                            </el-form-item>
                        </el-col>
                        <el-col :span="5">
                            <el-form-item label="Сорт. на главной" label-width="140px">
                                <el-input v-model="formData.main_sort" :readonly="!formData.rights.edit" type="number" :min="1"></el-input>
                            </el-form-item>
                        </el-col>
                	</el-row>

                    <el-form-item label="Аннотация">
                        <template v-if="formData.rights.edit">
                            <Tinymce
                                v-model="formData.preview_content"
                                id="annotationArticle"
                                ref="annotationArticleEditor"
                                :gallery="gal_list"
                                :article="formData.id" />
                        </template>
                        <div v-else v-html="formData.preview_content" style="background-color:#f5f7fa"></div>
                    </el-form-item>

                    <el-form-item label="Текст">
                        <template v-if="formData.rights.edit">
                            <Tinymce v-model="formData.content" id="TextArticle" ref="TextArticleEditor" :height="400" :gallery="gal_list" :article="formData.id" />
                        </template>
                        <div v-else v-html="formData.content" style="background-color:#f5f7fa"></div>
                    </el-form-item>

                    <el-row>
                        <el-col :span="6">
                            <el-form-item label="Другой автор">
                                <el-input v-model="formData.other_author" :readonly="!formData.rights.edit"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="Источник">
                                <el-input v-model="formData.other_source" :readonly="!formData.rights.edit"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Фотограф">
                                <el-input v-model="formData.photographer" :readonly="!formData.rights.edit"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row v-if="formData.id">
                   	 	<el-col :span="6">
                        	<el-form-item label="Редактор">
		                        <el-input v-model="users_hash[formData.author]" :readonly="true"></el-input>
		                    </el-form-item>
                        </el-col>
                        <el-col :span="6">
                        	<el-form-item label="Создано">
			                    <el-date-picker v-model="formData.date_create" type="datetime" format="dd.MM.yyyy HH:mm" value-format="yyyy-MM-dd HH:mm:ss" disabled></el-date-picker>
			                </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="Посл.обнов.">
			                    <el-date-picker v-model="formData.date_modify" type="datetime" format="dd.MM.yyyy HH:mm" value-format="yyyy-MM-dd HH:mm:ss" disabled></el-date-picker>
			                </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <!-- {{formData.status}} -->
                        	<!-- <el-form-item label="Статус">
		                        <el-input v-model="status_hash[formData.status]" :readonly="true"></el-input>
		                    </el-form-item> -->
                        </el-col>
                    </el-row>

                    <el-row  v-if="formData.id">
                        <el-form-item label="Коментарий модератора">
                            <el-input v-model="formData.moderate_comment" :readonly="!formData.rights.edit" type="textarea" :rows="3"></el-input>
                        </el-form-item>
                    </el-row>
                </el-form>

            </el-tab-pane>

            <!-- <el-tab-pane label="Текст" name="article" v-if="formData && formData.id">
                <template v-if="!rights.readonly">
                    <Tinymce v-model="formData.content" id="TextArticle" ref="TextArticleEditor" :height="textArticleHeight" :gallery="gal_list" :article="formData.id" />
                </template>
                <div v-else v-html="formData.content" style="background-color:#f5f7fa"></div>
            </el-tab-pane> -->

            <el-tab-pane label="Изображения" name="images" v-if="formData && formData.id && (isAdmin || isEditor)">
            	<ImageTabRow
                    v-if="currentRow"
                    title = "Превью в списках"
                    v-model="currentRow.preview_img"
                    :uploaderData="{article_id: currentRow.id, img_type: 'preview_img',}"
                    :original="currentRow.preview_img_original"
                    @upload-image="updateImage"
                ></ImageTabRow>

                <ImageTabRow
                    v-if="currentRow"
                    title = "Изображение в заголовке статьи"
                    v-model="currentRow.header_img"
                    :uploaderData="{article_id: currentRow.id, img_type: 'header_img',}"
                    :original="currentRow.header_img_original"
                    @upload-image="updateImage"
                ></ImageTabRow>
            </el-tab-pane>

            <el-tab-pane label="Галереи" name="glr" v-if="formData && formData.id && (isAdmin || isEditor)">
                <GaleryTab></GaleryTab>
            </el-tab-pane>

            <el-tab-pane label="Рекомендации" name="recommend" v-if="formData && formData.id && (isAdmin || isEditor)">
            	<RecommendationsTab></RecommendationsTab>
            </el-tab-pane>

            <el-tab-pane label="RSS каналы" name="rss" v-if="formData && formData.id && (isAdmin || isEditor)">
                <RssTab></RssTab>
            </el-tab-pane>

            <el-tab-pane label="SEO" name="seo" v-if="currentRow && currentRow.id && formData.rights.edit_seo">
                <SeoTab v-model="seo"></SeoTab>
            </el-tab-pane>
        </el-tabs>

	</div>
</template>

<script>

import { mapState, mapGetters }  from 'vuex'
import Tinymce                   from '@/components/Tinymce'
import $                         from 'jquery'

import RecommendationsTab        from './Recommendations.vue'
import RssTab                    from './Rss.vue'
import GaleryTab                 from './Galery.vue'
import SeoTab                    from '@/components/SeoTab'
import ImageTabRow               from '@/components/ImageTabRow'
import HumanUrlEditor            from '@/components/HumanUrlEditor'
import { Rights }                from './rights'


export default {
	components: { SeoTab, Tinymce, ImageTabRow, RecommendationsTab, RssTab, GaleryTab, HumanUrlEditor },
    mixins: [Rights],

	data() {
		return {
			module: 'articles',
			rules: {
	            name: [
	                { required: true, message: 'Введите название статьи', trigger: 'blur' }
	            ],
                url: [
                    { required: true, message: 'Введите ЧПУ статьи', trigger: 'blur' }
                ],
	            section: [
	                { required: true, message: 'Укажите раздел для статьи', trigger: 'blur' }
	            ],
	            view_type: [
	                { required: true, message: 'Укажите тип отображения статьи', trigger: 'blur' }
	            ]
	        },
	        formInitData: {
	            name            : undefined,
	            url             : undefined,
	            section         : undefined,
	            views           : undefined,
	            content         : '',
	            status          : undefined,
	            author          : undefined,
	            preview_content : '',
	            date_create     : undefined,
	            date_publish    : undefined,
	            date_modify     : undefined,
	            view_type       : undefined,
	            choise          : false,
	        },
            inputTagVisible    : false,
            inputTagValue      : '',
            inputPersonVisible : false,
            inputPersonValue   : '',
            showSaveArticleBtn : false,
            showSeoBtn         : false,
		}
	},

	computed: {
		...mapState({
            isAdmin      : state => state.auth.isAdmin,
            isEditor     : state => state.auth.isEditor,
            user         : state => state.auth.user,
            currentRow   : state => state.articles.currentRow,
            seo          : state => state.articles.seo,

            cat_list     : state => state.category.fullList,
            users_hash   : state => state.users.fullHash,
            users_list   : state => state.users.fullList,
            status_hash  : state => state.articles.statusHash,
            view_list    : state => state.articles.viewList,
            tags_list    : state => state.tags.fullList,
            persons_list : state => state.persons.fullList,
            gal_list     : state => state.gallery.list,
		}),
		formData(){
			let data = {}
			if (this.currentRow && this.currentRow.id)
				data = this.currentRow
			else
				data = this.formInitData

			if (data.date_modify === '0000-00-00 00:00:00') data.date_modify = undefined
			if (data.date_publish === '0000-00-00 00:00:00') data.date_publish = undefined

            this.users_list.forEach(usr => {
                if (usr.id == data.author) {
                    data.authorRole = usr.role
                }
            });

            data.rights = this.check_rights(data)

			return data
		},
        readonlyUrl(){
            if (this.formData.rights.edit && typeof this.formData.id === 'undefined')
                return false
            else if (this.formData.rights.edit && typeof this.formData.id !== 'undefined' && this.formData.status !== 'publish' && this.isAdmin)
                return false
            else
                return true
        }
	},

	methods: {

        defineStatusTag(id) {
            if (id === 'draft')
                return 'info'
            else if (id === 'in_work' || id === 'in_moderate')
                return 'warning'
            else if (id === 'redraft')
                return 'danger'
            else if (id === 'moderate')
                return ''
            else
                return 'success'
        },

        saveEdit(status){
        	var self = this;
        	self.$refs.Editor.validate((valid) => {
                if (valid) {
                    if (self.formData.id) {
                        if (status) {
                            self.formData.status = status
                            if (status === 'in_work') self.formData.status = 'draft'
                            if (status === 'in_moderate') self.formData.status = 'moderate'
                        }
                    	self.formData.date_modify = self.moment().format("YYYY-MM-DD HH:mm:ss")
                        // console.log(self.formData)
                    	self.$store.dispatch(self.module + '/updateItem', self.formData)
                    }
                    else {
                    	self.formData.date_create = self.moment().format("YYYY-MM-DD HH:mm:ss")
                    	self.formData.status = 'draft'
                    	self.formData.author = self.user.id
                    	self.$store.dispatch(self.module + '/addItem', self.formData);
                    }
                } else {
                    return false;
                }
            });
        },

        previewArticle(){
            if (!this.formData.rights.edit){
                window.open(this.currentRow.preview_href)
            }
            else  {
                var self = this;
                self.$refs.Editor.validate((valid) => {
                    if (valid) {
                        if (self.formData.id) {
                            self.formData.date_modify = this.moment().format("YYYY-MM-DD HH:mm:ss")
                            self.formData.openPreview = true
                            this.$store.dispatch(this.module + '/updateItem', self.formData)
                        }
                    } else {
                        return false;
                    }
                });
            }

        },

        handleCloseTag(tag) {
	        this.formData.tags.splice(this.formData.tags.indexOf(tag), 1);
      	},

      	showTagInput() {
	        this.inputTagVisible = true;
	        this.$nextTick(_ => {
	          this.$refs.saveTagInput.$refs.input.focus();
	        });
      	},

      	handleTagInputSelect(item){
            let inputTagValue
            if ('value' in item) {
                inputTagValue = item.value
            }
            else {
                inputTagValue = item.name;
            }
	        if (inputTagValue) {
	        	if (!this.formData.tags) this.formData.tags = []
	          	this.formData.tags.push(inputTagValue);
	        }
	        this.inputTagVisible = false;
	        this.inputTagValue = '';
      	},

      	tagSearch(queryString, cb) {
	        var data = this.tags_list;
	        var results = queryString ? data.filter(this.createTagFilter(queryString)) : data;
	        cb(results);
      	},

      	createTagFilter(queryString) {
	        return (vl) => {
	          return (vl.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
	        };
      	},

        handleClosePerson(tag) {
            this.formData.persons.splice(this.formData.persons.indexOf(tag), 1);
        },

        showPersonInput() {
            this.inputPersonVisible = true;
            this.$nextTick(_ => {
              this.$refs.savePersonInput.$refs.input.focus();
            });
        },

        handlePersonInputSelect(item){
            let inputPersonValue
            if ('value' in item) {
                inputPersonValue = item.value
            }
            else {
                inputPersonValue = item.name;
            }
            if (inputPersonValue) {
                if (!this.formData.persons) this.formData.persons = []
                this.formData.persons.push(inputPersonValue);
            }
            this.inputPersonVisible = false;
            this.inputPersonValue = '';
        },

        personSearch(queryString, cb) {
            var data = this.persons_list;
            // console.log(data)
            var results = queryString ? data.filter(this.createTagFilter(queryString)) : data;
            cb(results);
        },

      	tabSelected(clicked){
            if (clicked._props.name === 'seo') {
            	this.showSaveArticleBtn = false;
                this.showSeoBtn = true;
                this.$store.dispatch(this.module + '/getSEO', this.currentRow.id);
            }
            else if (clicked._props.name === 'recommend') {
                this.showSaveArticleBtn = false;
                this.showSeoBtn = false;
                this.$store.dispatch(this.module + '/getRecommended', {article_id: this.currentRow.id});
            }
            else if (clicked._props.name === 'rss') {
            	this.showSaveArticleBtn = false;
                this.showSeoBtn = false;
            	this.$store.dispatch(this.module + '/getRss', this.currentRow.id);
            }
            else if (clicked._props.name === 'common') {
                this.showSeoBtn = false;
            	this.showSaveArticleBtn = true;
            }
            else if (clicked._props.name === 'article') {
                this.showSeoBtn = false;
                this.showSaveArticleBtn = true;
            }
            else if (clicked._props.name === 'glr') {
                this.$store.dispatch('gallery/getList', this.currentRow.id);
            	this.showSaveArticleBtn = false;
                this.showSeoBtn = false;
            }
            else {
            	this.showSaveArticleBtn = false;
                this.showSeoBtn = false;
            }
        },

        updateImage(val){
            this.$store.dispatch(this.module + '/updateItem', this.currentRow)
        },

        saveSeo(){
            if (this.seo.id) {
                this.$store.dispatch('app/edit_seo', this.seo);
            }
            else {
                this.$store.dispatch('app/add_seo', this.seo);
            }
        }
	},

	created () {
        if (this.$route.params.id) {
            this.$store.dispatch(this.module + '/getItem', this.$route.params.id);
            this.$store.dispatch('gallery/getList', this.$route.params.id);
        }
        this.$store.dispatch('category/getAll');
        this.$store.dispatch('users/getAll');
        this.$store.dispatch('tags/getAll');
        this.$store.dispatch('persons/getAll');
        this.$store.dispatch('articles/statuses');
        this.$store.dispatch('articles/views');
    },

    watch: {
    	currentRow(val) {
    		if (val && val.id && !this.$route.params.id)
    			this.$router.push({ name: 'edit_article', params: {id: val.id} })
    	}
    },

    mounted(){
    	if (this.$refs.EditorTabs && (this.$refs.EditorTabs.currentName === 'common' || this.$refs.EditorTabs.currentName === 'article'))
        	this.showSaveArticleBtn = true;
        else
        	this.showSaveArticleBtn = false;
    }
}

</script>

<style>

.el-tag {
    margin-right: 5px;
  }
.button-new-tag {
    /*margin-left: 10px;*/
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    /*margin-left: 10px;*/
    vertical-align: bottom;
  }
  .tag-autocomplete {
    width: 200px !important;
  }
  .article-header-title {
    font-size:26px;
    background-color: #FAFCFF;
    color: #409EFF;
    padding: 10px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
  }

</style>
