<template>
    <div id="nix-list">
        <div class="button_panel">

            <router-link :to="{path: '/blog/articles/item/'}">
                <el-button type="primary"
                    plain
                    size="mini"
                    v-if="isAdmin || isEditor"
                    @click="addRecord">
                    <svg-icon icon-class="plus"></svg-icon> Добавить
                </el-button>
            </router-link>

            <div class="bp_button" v-if="isAdmin && list.length">
                <Help />
            </div>

            <div class="spacer"></div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

            <div class="bp_button" v-if="currentRow && currentRow.preview_href">
                <el-button type="info"
                    plain
                    size="mini"
                    @click="openLink(currentRow.preview_href)">
                    <svg-icon icon-class="eye-solid"></svg-icon> Предпросмотр
                </el-button>
            </div>

            <div class="bp_button" v-if="currentRow && currentRow.id && currentRow.rights && currentRow.rights.edit">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="edit_article">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="currentRow && currentRow.id && currentRow.rights && currentRow.rights.seo">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="edit_article">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать SEO
                </el-button>
            </div>
        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index"
                fixed
                header-align="center"
                align="center">
            </el-table-column>

            <el-table-column
                fixed
                width="60"
                header-align="center"
                label="Превью"
                align="center">
                <template slot-scope="scope">
                    <TableImage
                        v-model="scope.row.preview_img_admin"
                        :original="scope.row.preview_img_original"
                        :readonly="!scope.row.rights.edit"
                        :params="{article_id: scope.row.id, img_type: 'preview_img'}"
                        inner-class="article_preview_img"
                        @update-image="updatePreviewImage"
                    />
                </template>
            </el-table-column>

            <el-table-column
                fixed
                width="60"
                header-align="center"
                label="Шапка"
                align="center">
                <template slot-scope="scope">
                    <TableImage
                        v-model="scope.row.header_img_admin"
                        :original="scope.row.header_img_original"
                        :readonly="!scope.row.rights.edit"
                        :params="{article_id: scope.row.id, img_type: 'header_img'}"
                        @update-image="updateHeaderImage"
                        inner-class="article_header_img"
                    />
                </template>
            </el-table-column>

            <el-table-column
                prop="name"
                label="Заголовок"
                min-width="270"
                :render-header="inputNosortFilter"
                fixed>
                <template slot-scope="scope">
                    {{scope.row.name}}
                    <div v-if="scope.row.tags">
                        <el-tag size="mini" type="success" v-for="(tag) in scope.row.tags" :key="tag">{{tag}}</el-tag>
                    </div>
                    <div v-if="scope.row.persons">
                        <el-tag size="mini" type="info" v-for="(person) in scope.row.persons" :key="person">{{person}}</el-tag>
                    </div>
                </template>
            </el-table-column>

            <el-table-column
                prop="show_on_main"
                label="На главной"
                width="95"
                :render-header="selectNosortFilter"
                align="center"
                sortable="custom"
                v-if="isAdmin">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.show_on_main"
                        v-if="scope.row.rights.edit"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.show_on_main" v-else></el-checkbox>
                </template>
            </el-table-column>

            <el-table-column
                prop="main_sort"
                label="Сортировка на главной"
                width="115"
                :render-header="inputNosortFilter"
                align="center"
                sortable="custom"
                v-if="isAdmin">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!scope.row.rights.edit"
                        column="main_sort"
                        @update-editor="editRecordInline(scope.row)"
                        type="number"
                    />
                </template>
            </el-table-column>

            <el-table-column
                prop="choise"
                label="Выбор редакции"
                width="100"
                :render-header="selectNosortFilter"
                align="center"
                sortable="custom"
                v-if="isAdmin">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.choise"
                        v-if="scope.row.rights.edit"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.choise" v-else></el-checkbox>
                </template>
            </el-table-column>

            <el-table-column
                prop="not_miss"
                label="Не пропустите"
                width="115"
                :render-header="selectNosortFilter"
                align="center"
                sortable="custom"
                v-if="isAdmin">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.not_miss"
                        v-if="scope.row.rights.edit"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.not_miss" v-else></el-checkbox>
                </template>
            </el-table-column>

            <el-table-column
                prop="section_topic"
                label="Тема в блоке"
                width="95"
                :render-header="selectNosortFilter"
                align="center"
                sortable="custom"
                v-if="isAdmin">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.section_topic"
                        v-if="scope.row.rights.edit"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.section_topic" v-else></el-checkbox>
                </template>
            </el-table-column>

            <el-table-column
                prop="topic_day"
                label="Тема дня"
                width="75"
                :render-header="selectNosortFilter"
                align="center"
                sortable="custom"
                v-if="isAdmin">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.topic_day"
                        v-if="scope.row.rights.edit"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.topic_day" v-else></el-checkbox>
                </template>
            </el-table-column>

            <el-table-column
                prop="section"
                label="Рубрика"
                min-width="120"
                :render-header="selectNosortFilter">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!scope.row.rights.edit"
                        column="section"
                        @update-editor="editRecordInline(scope.row)"
                        type="select"
                        :options="cat_list"
                        :display-value="cat_hash[scope.row.section]"
                    />
                </template>

            </el-table-column>

            <el-table-column
                prop="author"
                label="Редактор"
                width="120"
                v-if="isAdmin"
                :render-header="selectNosortFilter">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!scope.row.rights.edit"
                        column="author"
                        @update-editor="editRecordInline(scope.row)"
                        type="select"
                        :options="users_list"
                        :display-value="users_hash[scope.row.author]"
                    />
                </template>

            </el-table-column>

            <el-table-column
                prop="date_create"
                label="Дата создания"
                width="100"
                :render-header="dateNosortFilter"
                align="center">
                <template slot-scope="scope" v-if="scope.row.date_create && scope.row.date_create !== '0000-00-00 00:00:00'">
                    {{moment(scope.row.date_create).format('DD.MM.YYYY')}}
                </template>
            </el-table-column>

            <el-table-column
                prop="date_publish"
                label="Дата публикации"
                width="115"
                :render-header="dateNosortFilter"
                align="center">

                <template slot-scope="scope">
                    <TableInlineEditor
                        v-model="scope.row"
                        :readonly="!scope.row.rights.edit"
                        column="date_publish"
                        @update-editor="editRecordInline(scope.row)"
                        type="datetime"
                    />
                </template>

            </el-table-column>

            <el-table-column
                prop="views"
                width="120"
                label="Просмотры"
                :render-header="inputNosortFilter"
                sortable="custom"
                align="center">
            </el-table-column>

            <el-table-column
                prop="status"
                width="130"
                label="Статус"
                :render-header="selectNosortFilter"
                sortable="custom"
                align="center"
                fixed="right">

                <template slot-scope="scope" v-if="scope.row.status">
                    <el-tag :type="defineStatusTag(scope.row.status)">{{ status_hash[scope.row.status] }}</el-tag>
                </template>
            </el-table-column>

        </el-table>

        <div class="nixtbl-pagination">
            <el-pagination
              background
              layout="prev, pager, next"
              :page-size="perPage"
              :total="totalCount"
              :current-page="currentPage"
              @current-change="changePage">
            </el-pagination>
        </div>

    </div>

</template>

<script>

import { mapState, mapGetters } from 'vuex'
import { NixTable }             from '@/mixins/NixTable'
import TableImage               from '@/components/TableImage'
import TableInlineEditor        from '@/components/TableInlineEditor'
import { Rights }               from './rights'
import Help                     from './Help/Table'

export default {
    components: {TableImage, TableInlineEditor, Help},
    mixins: [NixTable, Rights],

    data() {
        return {
            module               : 'articles',
            dialogFormVisible    : false,
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            isEditor    : state => state.auth.isEditor,
            user        : state => state.auth.user,
            list        : state => state.articles.list,
            currentRow  : state => state.articles.currentRow,

            currentPage : state => state.articles.currentPage,
            totalCount  : state => state.articles.totalCount,
            perPage     : state => state.articles.perPage,
            filters     : state => state.articles.filters,
            sorting     : state => state.articles.sorting,

            status_list : state => state.articles.statusList,
            status_hash : state => state.articles.statusHash,

            cat_list    : state => state.category.fullList,
            cat_hash    : state => state.category.fullHash,

            users_list  : state => state.users.fullList,
            users_hash  : state => state.users.fullHash,

            tags_hash   : state => state.tags.fullHash,
        }),
        formTitle(){
            if (!this.currentRow || !this.currentRow.id)
                return 'Добавление новой статьи'
            else
                return 'Редактирование статьи "' + this.currentRow.name + '"'
        },
        sFilter(){
            return {
                section : this.cat_list,
                author  : this.users_list,
                status  : this.status_list,
                choise: [
                    {id: 'true', name: 'да'},
                    {id: 'false', name: 'нет'},
                ],
                not_miss: [
                    {id: 'true', name: 'да'},
                    {id: 'false', name: 'нет'},
                ],
            }
        },
    },

    methods: {
        defineStatusTag(id) {
            if (id === 'draft')
                return 'info'
            else if (id === 'in_work' || id === 'in_moderate')
                return 'warning'
            else if (id === 'redraft')
                return 'danger'
            else if (id === 'moderate')
                return ''
            else
                return 'success'
        },
        updatePreviewImage(val){
            this.currentRow.preview_img = val
        },
        updateHeaderImage(val){
            this.currentRow.header_img = val
        },
        openLink(href) {
            window.open(href)
        },
        edit_article(){
            this.currentRow.noAlert = true

            if (this.currentRow.status === 'moderate') {
                this.currentRow.moderator = this.user.id
            }

            if (this.currentRow.rights.change_status) {
                this.currentRow.previous_status = this.currentRow.status
                this.currentRow.status = this.currentRow.rights.change_status
            }

            this.currentRow.date_modify = this.moment().format("YYYY-MM-DD HH:mm:ss")
            this.$store.dispatch(this.module + '/updateItem', this.currentRow).then(() => {
                this.$router.push({ name: 'edit_article', params: { id: this.currentRow.id }})
            })
        },
    },

    mounted () {
        this.$store.dispatch('category/getAll').then(() => {
            this.$store.dispatch('users/getAll').then(() => {
                this.$store.dispatch('tags/getAll').then(() => {
                    this.$store.dispatch('persons/getAll').then(() => {
                        this.$store.dispatch('articles/statuses').then(() => {
                            this.$store.dispatch(this.module + '/getList');
                        });
                    });
                });
            });
        });
    },

    watch: {
        list (val) {
            let self = this;
            if (val.length)
                this.list.map(v => {
                    v.editorsVals = {
                        main_sort    : v.main_sort,
                        section      : v.section,
                        author       : v.author,
                        date_publish : v.date_publish,
                    }

                    self.users_list.forEach(usr => {
                        if (usr.id == v.author) {
                            v.authorRole = usr.role
                        }
                    });

                    v.rights = self.check_rights(v)

                    return v
                })
        },
    }
}

</script>

<style rel="stylesheet/scss" lang="scss" scoped>

.editor-container {
  min-height: 200px;
  margin: 0;
}
</style>
