<template>
<div>

    <div style="display:flex">
        <div class="spacer"></div>
        <el-form :inline="true" :model="filterData">
            <el-form-item>
                <el-select v-model="filterData.value" clearable placeholder="Рекомендовано" size="mini"  @change="searchData">
                  <el-option label="Да" value="true"></el-option>
                  <el-option label="Нет" value="false"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item>
                <el-input v-model="filterData.name" clearable placeholder="Название статьи" size="mini"  @change="searchData"></el-input>
            </el-form-item>
            <el-form-item>
                <el-select v-model="filterData.section_id" clearable placeholder="Рубрика"  size="mini" @change="searchData">
                    <el-option
                      v-for="item in cat_list"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
    </div>


	<el-table
	    ref="recArticleTable"
	    :data="list"
	    style="width: 100%"
	    size="mini"
	    :height="tableHeight"
        :default-sort = "sorting"
        @sort-change="handleSortChange">

	    <el-table-column
            type="index"
            fixed
            header-align="center"
            align="center">
        </el-table-column>

        <el-table-column
            prop="value"
            label="Рекомендовано"
            width="140"
            align="center"
            sortable>

            <template slot-scope="scope">
                <el-checkbox
                    v-model="scope.row.value"
                    @change="editRecordInline(scope.row)"
                    ></el-checkbox>
            </template>
        </el-table-column>

        <el-table-column
            prop="name"
            min-width="125"
            label="Статья">
        </el-table-column>

        <el-table-column
            prop="section_id"
            label="Рубрика"
            width="220">

            <template slot-scope="scope">
                {{cat_hash[scope.row.section_id]}}
            </template>

        </el-table-column>

        <el-table-column
            prop="date_publish"
            label="Дата публикации"
            width="115">

            <template slot-scope="scope" v-if="scope.row.date_publish && scope.row.date_publish !== '0000-00-00 00:00:00'">
                {{moment(scope.row.date_publish).format('DD.MM.YYYY')}}
            </template>

        </el-table-column>

        <el-table-column
            prop="status"
            width="130"
            label="Статус">

            <template slot-scope="scope" v-if="scope.row.status">
                <el-tag :type="defineStatusTag(scope.row.status)">{{ status_hash[scope.row.status] }}</el-tag>
            </template>
        </el-table-column>

	</el-table>

    <div class="nixtbl-pagination">
        <el-pagination
          background
          layout="prev, pager, next"
          :page-size="perPage"
          :total="totalCount"
          :current-page="currentPage"
          @current-change="changePage">
        </el-pagination>
    </div>

</div>
</template>


<script>

import { mapState } from 'vuex'
import $            from 'jquery'

export default {

    data(){
        return {
            filterData: {
                value      : '',
                name       : '',
                section_id : '',
            }
        }
    },

	computed: {
		...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.articles.recommendedList,
            perPage     : state => state.articles.recommendedData.perPage,
            totalCount  : state => state.articles.recommendedData.totalCount,
            currentPage : state => state.articles.recommendedData.currentPage,
            sorting     : state => state.articles.recommendedData.sorting,
            article     : state => state.articles.currentRow,
            cat_list    : state => state.category.fullList,
            cat_hash    : state => state.category.fullHash,
            status_hash : state => state.articles.statusHash,
		}),
		tableHeight(){
        	return $(window).height() - 350
        },
	},

	methods: {
		editRecordInline(record){
            this.$store.dispatch('articles/saveRecommended', record)
        },
        changePage(newPage){
            this.$store.commit('articles/set_recommended', {type: 'currentPage', items:newPage});
            this.$store.dispatch('articles/getRecommended', {article_id: this.article.id, filter: this.filterData});
        },
        handleSortChange(column) {
            var dir = (column.order === 'ascending') ? 'asc' : 'desc';
            this.$store.commit('articles/set_recommended', {type: 'sorting', items:{prop: column.prop, order: column.order, dir: dir}});
            this.$store.dispatch('articles/getRecommended', {article_id: this.article.id, filter: this.filterData});
        },
        searchData(){
            this.$store.dispatch('articles/getRecommended', {article_id: this.article.id, filter: this.filterData});
        },
        defineStatusTag(id) {
            if (id === 'draft')
                return 'info'
            else if (id === 'in_work' || id === 'in_moderate')
                return 'warning'
            else if (id === 'redraft')
                return 'danger'
            else if (id === 'moderate')
                return ''
            else
                return 'success'
        },
	}
}
</script>
