<template>

	<el-table
	    ref="recArticleTable"
	    :data="list"
	    style="width: 100%"
	    size="mini"
	    :height="tableHeight">

	    <el-table-column
            type="index"
            fixed
            header-align="center"
            align="center">
        </el-table-column>

        <el-table-column
            prop="value"
            label="Публиковать"
            width="150"
            align="center"
            sortable>

            <template slot-scope="scope">
                <el-checkbox
                    v-model="scope.row.value"
                    v-if="isAdmin"
                    @change="editRecordInline(scope.row)"
                    ></el-checkbox>
                <el-checkbox disabled v-model="scope.row.value" v-else></el-checkbox>
            </template>
        </el-table-column>

        <el-table-column
                prop="name"
                min-width="125"
                label="Канал"
                sortable>
            </el-table-column>
	</el-table>

</template>


<script>

import { mapState } from 'vuex'
import $            from 'jquery'

export default {

	computed: {
		...mapState({
			isAdmin : state => state.auth.isAdmin,
			list    : state => state.articles.rssList,
		}),
		tableHeight(){
        	return $(window).height() - 250
        },
	},

	methods: {
		editRecordInline(record){
            this.$store.dispatch('articles/saveRss', record)
        },
	}
}
</script>
