<template>

	<div>
	    <div v-if="value" class="image-tbl-img">
	        <img :src="value" :class="innerClass">
	        <span class="tbl-image-actions">
	        	<span class="tbl-image-actions-icons">
	        		<span style="margin-right:5px;"  @click="clickImage">
	        			<svg-icon icon-class="zoom-in" class-name="tbl-image-action-icon" />
	        		</span>
	        		<!-- <span style="margin-left:5px;"  @click="uploadImage">
	        			<svg-icon icon-class="upload" class-name="tbl-image-action-icon" />
	        		</span> -->
		        </span>
	        </span>
	    </div>
	    <!-- <div v-else @click="uploadImage"> -->
	    <div v-else>
	    	<svg-icon icon-class="camera" class-name="image-tbl-icon"></svg-icon>
	    </div>

	    <div style="margin-top:5px;" v-if="uploadPercentage">
			<el-progress :text-inside="true" :stroke-width="18" :percentage="uploadPercentage" status="success"></el-progress>
		</div>

	    <webix-ui :config='uploader' ref='webixUploader'/>

	    <el-dialog :visible.sync="dialogPreviewVisible" v-if="value" append-to-body>
          	<img width="100%" :src="original" alt="">
        </el-dialog>
	</div>

</template>

<script>

import 'webix'
import 'vue-webix'

import Conf    from '../../../config/url.js'

export default {
	name: 'TableImage',
	props: {
		value: {
	      	type: String,
	      	default: ''
	    },
	    original: {
	      	type: String,
	      	default: ''
	    },
	    readonly: {
      		type: Boolean,
      		required: false,
      		default: false
    	},
	    params: {
      		type: Object,
      		required: false,
      		default () {
      			return {}
      		}
    	},
    	innerClass: {
	      	type: String,
	      	default: ''
	    },
	},
	data(){
		return {
			dialogPreviewVisible : false,
			uploadPercentage     : 0
		}
	},
	computed: {
		uploader() {
	      let $this = this
	      return {
	        view     : "uploader",
	        apiOnly  : true,
	        upload   : Conf.upload,
	        multiple : false,
	        autosend : false,
	        accept   : "image/png, image/gif, image/jpeg",
	        on:{
	          onFileUpload:function(data, response){
	            $this.uploadPercentage = data.percent
	          },
	          onUploadComplete:function(response){
	          	$this.uploadPercentage = 0;
	          	$this.$emit("update-image", response.location);
	          },
	          onAfterFileAdd:function(param) {
	            param.formData = $this.params;
	            this.send();
	          }
	        }
	      }
	    },
	},
	methods: {
		uploadImage(){
			this.$refs.webixUploader.webixId.fileDialog();
		},
		clickImage(){
			this.dialogPreviewVisible = true
		},
	}
}

</script>

<style>

.image-tbl-icon {
    width:30px !important;
    height:30px !important;
    color:#ededed;
    cursor: pointer;
}

.image-tbl-img {
    cursor: pointer;
    position: relative;
    width:100%
}

.image-tbl-img img{
	width:100%;
	height:100%;
}

.image-tbl-img .tbl-image-actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    display: none;
    color: #FFF;
    cursor: initial;
}
.image-tbl-img:hover .tbl-image-actions {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.tbl-image-actions-icons {
	position: relative;
	top: 40%;
	transform: translateY(-40%);
}

.tbl-image-action-icon {
	width:20px !important;
    height:20px !important;
    cursor: pointer;
    color:#ededed;
}

</style>
