<template>
<div>
	<template v-if="!readonly">

		<el-popover
		  	placement="bottom"
		  	v-model="editorVisible">

		  	<div class="inlineButtons">

		  		<div v-if="!type">
			  		<el-input v-model="columnValue" size="mini" autofocus />
			  	</div>

			  	<div v-if="type && type==='number'">
			  		<el-input v-model="columnValue" size="mini" type="number" :min="1" autofocus />
			  	</div>

			  	<div v-if="type && type==='select'">
			  		<el-select v-model="columnValue" size="mini" autofocus>
		                <el-option
					      v-for="item in options"
					      :key="item.id"
					      :label="item.name"
					      :value="item.id">
					    </el-option>
		            </el-select>
			  	</div>

			  	<div v-if="type && type==='datetime'">
			  		<el-date-picker
			  			v-model="columnValue"
			  			type="datetime"
			  			format="dd.MM.yyyy HH:mm"
			  			value-format="yyyy-MM-dd HH:mm:ss"
			  			default-time="12:00:00"
			  			autofocus>
			  		</el-date-picker>
			  	</div>

		  		<el-button size="mini" type="warning" @click="closeEditorInline">
		        	<svg-icon icon-class="ban-solid"></svg-icon>
		        </el-button>

		  		<el-button size="mini" type="success" @click="confirmEditorInline">
					<svg-icon icon-class="check-circle-solid"></svg-icon>
				</el-button>

		  	</div>
		  	<el-button slot="reference" type="text" size="mini">
		  		<span v-if="displayValue">{{displayValue}}</span>
				<span v-else>
					<template v-if="type && type==='datetime'">
						<template v-if="columnValue && columnValue !== '0000-00-00 00:00:00'">
							{{moment(columnValue).format('DD.MM.YYYY H:mm')}}
						</template>
						<template v-else>
							---
						</template>
					</template>
					<template v-else>{{columnValue}}</template>
				</span>
		  	</el-button>
		</el-popover>

	</template>

	<template v-else>
		<span v-if="displayValue">{{displayValue}}</span>
		<span v-else>
			<template v-if="type && type==='datetime'">
				<template v-if="columnValue && columnValue !== '0000-00-00 00:00:00'">
					{{moment(columnValue).format('DD.MM.YYYY H:mm')}}
				</template>
				<template v-else>
					---
				</template>
			</template>
			<template v-else>{{columnValue}}</template>
		</span>
	</template>
</div>
</template>

<script>

export default {
	name: 'TableInlineEditor',
	props: {
		value: {
	      	type: Object,
	      	required: true,
	    },
	    column: {
	      	type: String,
	      	required: true,
	      	default: ''
	    },
	    readonly: {
      		type: Boolean,
      		required: false,
      		default: false
    	},
	    type: {
      		type: String,
      		required: false,
      		default: false
    	},
    	options: {
    		type: Array,
      		required: false,
      		default: () => []
    	},
    	displayValue: {
    		type: String,
    		default: ''
    	}
	},
	data(){
		return {
			columnValue: this.value[this.column],
			editorVisible: false
		}
	},
	methods: {
		closeEditorInline(){
			this.editorVisible = false
			this.columnValue = this.value.editorsVals[this.column]
		},
		confirmEditorInline(){
			this.value[this.column] = this.columnValue
			this.value.editorsVals[this.column] = this.columnValue
			this.editorVisible = false
			this.$emit("update-editor", this.value);
		}
	}
}

</script>
