<template>
	<div>
		<el-row>
			<el-card class="article-image-card">
				<div slot="header" class="clearfix">
					<div style="display:flex">
						<div>{{title}}</div>
						<div class="spacer"></div>
						<div>
			  				<el-upload
							  	:action="uploadUrl"
							  	list-type="text"
							  	:data="uploaderData"
							  	:show-file-list="false"
							  	name="upload"
							  	accept="image/*"
							  	:on-success="handleUploader"
							  	:on-progress="handleProgress"
							  	ref="previewUpload">
						  		<el-button size="small" type="primary">Загрузить изображение</el-button>
							</el-upload>
			  			</div>
					</div>
				</div>

				<div class="article-image-card-body">

					<div style="margin-top:10px;" v-if="previewPercentage">
						<el-progress :text-inside="true" :stroke-width="18" :percentage="previewPercentage" status="success"></el-progress>
					</div>

					<div class="item-image-gallery">
						<div v-for="pic in value" style="padding: 10px; max-width:15%; min-width: 80px;"  v-if="pic.postfix && pic.postfix !== 'admin'">
							{{pic.postfix}}
							<div class="article-image-holder">
					  			<img :src="makeImgPath(pic.url)" class="article-image">

					  			<div class="article-image-actions">
					  				<div class="article-image-actions-btns">
					  					<el-button icon="el-icon-zoom-in" type="info" circle @click="openPic(pic)"></el-button>
					  					<el-button icon="el-icon-edit" type="info" circle @click="openEditPic(pic)"></el-button>
					  				</div>
					  			</div>
					  		</div>
						</div>
					</div>

				</div>
			</el-card>
		</el-row>

		<el-dialog :visible.sync="dialogPreviewVisible" append-to-body>
			<template slot="title">{{selectedPic.postfix}}</template>
		  	<img :src="makeImgPath(selectedPic.url)" alt="">
		</el-dialog>

		<el-dialog :visible.sync="dialogEditVisible" fullscreen append-to-body>
			<template slot="title">{{selectedPic.postfix}}</template>

			<div class="cropper-wrapper">
				<div style="display:flex; margin-bottom:20px;">
					<div class="spacer"></div>
					<el-tooltip content="Обновить">
						<el-button type="primary" circle @click="refreshCrop"><svg-icon icon-class="sync-solid"></svg-icon></el-button>
					</el-tooltip>
					<el-tooltip content="Увеличить">
						<el-button type="primary" circle @click="changeScale(1)"><svg-icon icon-class="plus-circle-solid"></svg-icon></el-button>
					</el-tooltip>
					<el-tooltip content="Уменьшить">
						<el-button type="primary" circle @click="changeScale(-1)"><svg-icon icon-class="minus-circle-solid"></svg-icon></el-button>
					</el-tooltip>
					<el-tooltip content="Повернуть">
						<el-button type="primary" circle @click="rotateRight"><svg-icon icon-class="rotate"></svg-icon></el-button>
					</el-tooltip>
					<div class="spacer"></div>
					<el-tooltip content="Сохранить">
						<el-button type="success" circle @click="saveCropped"><svg-icon icon-class="save-solid"></svg-icon></el-button>
					</el-tooltip>
				</div>

				<vueCropper
					ref="cropper"
					:img="original"
					:info="true"
					:infoTrue="true"
					:fixed="true"
					:autoCrop="true"
					:canScale="true"
					:fixedBox="false"
					:outputType="outputType"
					:fixedNumber="selectedPic.dims"
					:size="1"
					:autoCropWidth="selectedPic.width"
	       		 	:autoCropHeight="selectedPic.height"
					>
				</vueCropper>
			</div>

		</el-dialog>

	</div>
</template>

<script>

import Conf    from '../../../config/url.js'
import { VueCropper }  from 'vue-cropper'

export default {
	name: 'ImageTabRow',

	components: {
  		VueCropper
	},

	props: {
		value: {
	      	type: Array,
	      	default () {
      			return []
      		}
	    },
	    title: {
	      	type: String,
	      	default: ''
	    },
	    uploaderData: {
	    	required: true,
	    	type: Object,
	      	default () {
      			return {}
      		}
	    },
	    original: {
	    	type: String,
	      	default: ''
	    }
	},

	data(){
		return {
			previewPercentage    : 0,
			dialogPreviewVisible : false,
			dialogEditVisible    : false,
			headerPercentage     : 0,
			selectedPic          : {},
		}
	},

	computed: {
		uploadUrl(){
			return Conf.upload
		},
		outputType(){
			return this.get_url_extension(this.original)
		}
	},

	methods: {
		makeImgPath(picUrl) {
			return picUrl + '?a=' + Math.random()
		},

		handleUploader(response, file, fileList){
			this.$emit("upload-image", response);
		},

		handleProgress(event, file, fileList){
        	if (event && event.percent)
        		this.previewPercentage = Math.round(event.percent)
        },

        openPic(pic) {
        	this.dialogPreviewVisible = true
        	this.selectedPic = pic
        },

        openEditPic(pic, type) {
        	this.selectedPic = pic
        	this.dialogEditVisible = true
        },

        changeScale(num) {
	      	num = num || 1;
	      	this.$refs.cropper.changeScale(num);
	    },

	    rotateRight() {
	      	this.$refs.cropper.rotateRight();
	    },

	    refreshCrop() {
	      	this.$refs.cropper.refresh();
	    },

	    saveCropped(){
	    	this.$refs.cropper.getCropData((ImageURL) => {
	    		var formData = new FormData();

			   	var block = ImageURL.split(";");
				var contentType = block[0].split(":")[1];
				var realData = block[1].split(",")[1];
				var blob = this.b64toBlob(realData, contentType);

				formData.append('filename', this.original)
				formData.append('postfix', this.selectedPic.postfix)
				formData.append('location', blob, 'new.' + this.outputType)

				this.$http.post(this.uploadUrl, formData).then(response => {
					this.dialogEditVisible = false
					let body = response.body
					if ('location' in body && body.location)
						this.selectedPic.image = body.location + '?' + new Date().getTime();

			  	}, error => {
			  		this.dialogEditVisible = false
			    	console.log(error)
			  	});
			})
	    },

	    b64toBlob(b64Data, contentType, sliceSize) {
	    	contentType = contentType || '';
	        sliceSize = sliceSize || 512;

	        var byteCharacters = atob(b64Data);
	        var byteArrays = [];

	        for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
	            var slice = byteCharacters.slice(offset, offset + sliceSize);

	            var byteNumbers = new Array(slice.length);
	            for (var i = 0; i < slice.length; i++) {
	                byteNumbers[i] = slice.charCodeAt(i);
	            }

	            var byteArray = new Uint8Array(byteNumbers);

	            byteArrays.push(byteArray);
	        }

	      var blob = new Blob(byteArrays, {type: contentType});
	      return blob;
	    },

	    get_url_extension(url) {
	    	return url.split(/\#|\?/)[0].split('.').pop().trim();
	    }
	},

	watch: {
		dialogEditVisible(val) {
			if (this.$refs.cropper) this.$refs.cropper.refresh();
		},
	}
}

</script>
