@import './variables.scss';
@import './mixin.scss';

.app-wrapper {
    @include clearfix;
    position: relative;
    height: 100%;
    width: 100%;
    &.mobile.openSidebar{
      position: fixed;
      top: 0;
    }
  }
.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.app-main {
    height: calc(100vh - 50px);
    position: relative;
    overflow: scroll;
    padding: 10px;
  }

.nix-dialog {
    margin-top: 0 !important;
    margin-right: 0 !important;
    height: 100vh;
    width:100%;
    overflow: scroll;
}

.nix-dialog .el-tabs__content {
  height: calc(100vh - 250px);
  overflow: auto;
}

.button_panel {
  background-color: #304156;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  height: 48px;
}

.button_panel.inner_panel{
  background-color: transparent;
}

.spacer {
  flex-grow: 1;
}
.bp_button {
  margin-left: 10px;
}

.item-image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.inlineButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 10px;
}
.inlineButtons input {
  min-width: 30px !important;
  padding: 0 5px !important;
}
.inlineButtons .el-button {
  padding: 5px !important;
  margin-left: 5px !important;
  height: 25px !important;
}

.edit_block {
  margin-left:20px;
  background-color:#fafafa;
  padding:20px;
  -webkit-box-shadow: -4px 2px 8px -1px rgba(189,189,189,0.33);
  -moz-box-shadow: -4px 2px 8px -1px rgba(189,189,189,0.33);
  box-shadow: -4px 2px 8px -1px rgba(189,189,189,0.33);
}

.navbar {
  height: 50px;
  border-radius: 0px !important;
  .hamburger-container {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
  }
  .breadcrumb-container{
    float: left;
  }
  .right-menu {
    float: right;
    height: 100%;
    padding-right: 10px;
    &:focus{
     outline: none;
    }
    .right-menu-item {
      display: inline-block;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transform: rotate(90deg);
  transition: .38s;
  transform-origin: 50% 50%;
}

.hamburger.is-active {
  transform: rotate(0deg);
}

.notification_row {
    padding-top:10px;
    padding-bottom:10px;
}
.notification_list .notification_row:not(:last-child) {
    border-bottom: 1px solid #ebeef5;
}

.dash-title {
  background-color: #fafafa;
  padding: 15px;
  font-size: 13px;
  font-weight: bold;
}
.dash-list-row {
  padding-top:10px;
  padding-bottom:5px;
}
.dash-list-row.el-row {
  margin: 0 !important;
}
.dash-list {
  padding:15px;
  font-size: 12px;
  overflow: auto;
}
.dash-list .dash-list-row:not(:last-child) {
    border-bottom: 1px solid #ebeef5;
}

.nixtbl-header th {
  background-color:#fafafa;
  padding: 0 !important;
}

.nixtbl-header .cell {
  padding: 0 !important;
}

.nixtbl-th-cell {
  white-space: normal !important;
  line-height: initial !important;
  padding: 0 !important;
  width: 100% !important;
}

.nixtbl-th {
  display: flex !important;
  justify-content: space-between;
  padding: 0 !important;
  align-items: center;
}

.nixtbl-th-title {
  white-space: normal !important;
  text-align: left !important;
  line-height: initial !important;
}

.nixtbl-th-sort {
  text-align: right !important;
  line-height: initial !important;
  width: 30px !important;
  padding-left: 0 !important;
}

.nixtbl-th-cell .el-input--small .el-input__inner {
  height: 26px !important;
  line-height: 26px !important;
  padding-right: 20px;
}
.nixtbl-th-cell .el-select {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.nixtbl-th-cell .el-select .el-input__suffix {
  padding-right: 10px !important;
}

.nixtbl-th-cell .el-date-editor.el-input {
  width:initial !important;
}
.nixtbl-th-cell .el-input__prefix {
  left: 15px !important;
}

.nixtbl-pagination {
  text-align: center;
}

.el-table .cell {
  word-break: break-word !important;
}

.cell .el-tag {
  margin-right: 2px;
}

.nix-tabs .el-tab-pane {
  overflow-x: auto;
  height: calc(100vh - 200px) !important;
}
.nix-tabs.article-tabs .el-tab-pane {
  overflow-x: auto;
  height: calc(100vh - 250px) !important;
}

.nix-tabs .el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
  min-width: 150px;
}

#notfound {
  position: relative;
  height: calc(100vh - 170px);
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 152px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -20px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.cropper-wrapper {
  height: 600px;
}

.article-image-card .el-card__body {
    width:100%;
    position: relative;
  }

  .article-image {
    width:100%;
  }

  .article-image {
    max-width:600px;
  }

  .article-image-holder {
    position: relative;
  }

.article-image-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 20px;
  background-color: rgba(0,0,0,.5);
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.article-image-actions:hover {
  opacity: 1
}
.article-image-actions-btns {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.article-image-actions-btns .el-button {
  background-color: transparent !important;
  margin:0 !important;
  padding: 5px !important;
}

ul.lists {
  list-style-type: none;
  margin:0;
  padding:0;
}

ul.lists li {
  padding:10px;
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-top: 1px solid #f4f4f4;
  display: flex;
}

ul.lists li:last-child {
  border-bottom: 1px solid #f4f4f4;
}

.gal-list-container {
  display:flex;
  flex-wrap:wrap;
  align-items:stretch;
  /*align-content:stretch;*/
  /*max-height: 500px;*/
  /*min-height: 250px;*/
  overflow: auto;
}

.gal-image-container {
  width:15%;
  margin:5px;
  width:200px;
  align-self: stretch;
}

.galleryTblContainer .el-table__body-wrapper {
  overflow: auto;
}

.gal-image-container-inner {
  height: 100%;
}

.gal-image-container-inner .el-card {
  height: 100%;
}

.gal-image-sort {
  color:grey;
  font-size:20px;
  font-weight:bold;
}

.gal-image-content {
  color:grey;
  font-size:12px;
  padding-top:15px;
  min-height: 40px;
}

.gal-image-content-edit {
  padding-top:15px;
  min-height: 40px;
}

.gal-image-btns {
  margin-top:15px;
  display: flex;
  justify-content: space-evenly;
  height:30px;
}

.gal-image-btns .el-button.is-circle {
  padding: 5px !important;
}

.dash-rep-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.dash-rep-item {
  flex-grow: 1;
  background-color: grey;
  margin: 10px 15px;
  padding:10px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
  cursor: pointer;
}

.dash-rep-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.dash-rep-item-right {
  font-size: 50px;
  color: rgb(64, 158, 255);
}
.dash-rep-item-title {
  font-size: 25px;
  border-bottom: solid 1px #e6e6e6;
  padding-bottom: 10px;
}

.dash-rep-single-item-title {
  font-size: 15px;
  padding-top: 12px;
}

.dash-rep-item-link {
  font-size: 12px;
  padding-top: 10px;
  color:#676767;
  cursor: pointer;
}

.dash-graph-title {
  font-weight: bold;
  font-size: 20px;
}

.chart-tooltip {
  max-width: 150px;
  white-space: normal;
}

.dash-rep-item .dash-chart {
  display: inline-block;
  position: relative;
  /*width: 400px;*/
  height:300px;
}

.dash-rep-item .dash-chart .echarts, .dash-rep-item .dash-double-chart .echarts {
  width: 100%;
    height: 300px;
}

.el-dialog__body img {
  width:100%;
}

.el-checkbox__inner {
  border: 1px solid #919397 !important;
}
.el-checkbox__input.is-disabled .el-checkbox__inner {
  border-color: #dcdfe6 !important;
}
