<template>
    <div id="nix-list">
        <div class="button_panel">

            <el-button type="primary"
                plain
                size="mini"
                @click="addRecord">
                <svg-icon icon-class="plus"></svg-icon> Добавить
            </el-button>

            <div class="spacer"></div>

            <div class="bp_button" v-if="currentRow && currentRow.id">
                <el-button type="success"
                    plain
                    size="mini"
                    @click="editRecord">
                    <svg-icon icon-class="edit"></svg-icon> Редактировать
                </el-button>
            </div>

            <div class="bp_button" v-if="isAdmin && currentRow && currentRow.id">
                <el-popover
                    placement="top"
                    width="160"
                    v-model="delVisible">
                    <p><center>Удалить выбранную запись?</center></p>
                    <div style="text-align: center; margin: 0">
                        <el-button size="mini" type="text" @click="delVisible = false">нет</el-button>
                        <el-button type="primary" size="mini" @click="deleteRecord(currentRow.id)">да</el-button>
                    </div>
                    <el-button type="danger"
                        plain
                        size="mini"
                        @click="delVisible = !delVisible"
                        slot="reference">
                        <svg-icon icon-class="trash"></svg-icon> Удалить
                    </el-button>
                </el-popover>
            </div>

        </div>

        <el-table
            :data="list"
            highlight-current-row
            style="width: 100%"
            :height="tableHeight"
            size="mini"
            @current-change="handleCurrentChange"
            @sort-change="handleSortChange"
            :default-sort = "sorting"
            header-row-class-name="nixtbl-header"
            ref="Tbl">

            <el-table-column
                type="index"
                header-align="center"
                align="center">
            </el-table-column>

            <el-table-column
                prop="name"
                label="Имя"
                min-width="130"
                :render-header="inputFilter">
            </el-table-column>

            <el-table-column
                prop="username"
                label="Логин"
                min-width="130"
                :render-header="inputFilter">
            </el-table-column>

            <el-table-column
                prop="role"
                min-width="130"
                label="Роль"
                :render-header="selectFilter">

                <template slot-scope="scope" v-if="scope.row.role">
                    {{roles_hash[scope.row.role]}}
                </template>
            </el-table-column>

            <el-table-column
                prop="email"
                min-width="130"
                label="Email"
                :render-header="inputFilter">
            </el-table-column>

            <el-table-column
                prop="last_login_date"
                width="150"
                label="Последний вход"
                :render-header="dateFilter"
                align="center">

                <template slot-scope="scope" v-if="scope.row.last_login_date && scope.row.last_login_date !== '0000-00-00 00:00:00'">
                    {{moment(scope.row.last_login_date).format('DD.MM.YYYY')}}
                </template>
            </el-table-column>

            <el-table-column
                prop="status"
                label="Активный"
                width="130"
                :render-header="selectFilter"
                align="center">

                <template slot-scope="scope">
                    <el-checkbox
                        v-model="scope.row.status"
                        v-if="isAdmin"
                        @change="editRecordInline(scope.row)"
                        ></el-checkbox>
                    <el-checkbox disabled v-model="scope.row.status" v-else></el-checkbox>
                </template>
            </el-table-column>
        </el-table>

        <div class="nixtbl-pagination">
            <el-pagination
              background
              layout="prev, pager, next"
              :page-size="perPage"
              :total="totalCount"
              :current-page="currentPage"
              @current-change="changePage">
            </el-pagination>
        </div>

        <el-dialog :title="formTitle" :visible.sync="dialogFormVisible" custom-class="nix-dialog">

            <el-tabs value="common">
                <el-tab-pane label="Основные сведения" name="common">
                    <el-form :model="formData" label-position="right" label-width="120px" size="small" :rules="rules" ref="Editor">
                        <el-form-item label="Имя" prop="name">
                            <el-input v-model="formData.name" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Логин" prop="username">
                            <el-input v-model="formData.username" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Email" prop="email">
                            <el-input v-model="formData.email" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Пароль" prop="password" v-if="!formData.id">
                            <el-input v-model="formData.password" :readonly="!isAdmin"></el-input>
                        </el-form-item>
                        <el-form-item label="Роль" prop="role">
                            <el-select v-model="formData.role">
                                <el-option
                                  v-for="item in roles_list"
                                  :key="item.id"
                                  :label="item.name"
                                  :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="Активный">
                            <el-checkbox v-model="formData.status" :disabled="!isAdmin"></el-checkbox>
                        </el-form-item>
                    </el-form>
                </el-tab-pane>
            </el-tabs>

            <span slot="footer" class="dialog-footer">
                <el-button @click="cancelEdit">Отмена</el-button>
                <el-button type="primary" @click="saveEdit">Сохранить</el-button>
            </span>

        </el-dialog>

    </div>

</template>

<script>

import { mapState } from 'vuex'
import { NixTable } from '@/mixins/NixTable'

export default {
    mixins: [NixTable],

    data() {
        return {
            module: 'users',
            rules: {
                name: [
                    { required: true, message: 'Введите имя пользователя', trigger: 'blur' }
                ],
                username: [
                    { required: true, message: 'Введите логин пользователя', trigger: 'blur' }
                ],
                role: [
                    { required: true, message: 'Выберите роль пользователя', trigger: 'blur' }
                ],
                email: [
                    { required: true, message: 'Введите email пользователя', trigger: 'blur' }
                ],
                password: [
                    { required: true, message: 'Введите пароль пользователя', trigger: 'blur' }
                ]
            },
            formData : {},
            formInitData: {
                name   : '',
                username  : '',
                role   : '',
                active : false
            },
            dialogFormVisible:false
        };
    },

    computed: {
        ...mapState({
            isAdmin     : state => state.auth.isAdmin,
            list        : state => state.users.list,
            currentRow  : state => state.users.currentRow,

            currentPage : state => state.users.currentPage,
            totalCount  : state => state.users.totalCount,
            perPage     : state => state.users.perPage,
            filters     : state => state.users.filters,
            sorting     : state => state.users.sorting,

            roles_list  : state => state.users.rolesList,
            roles_hash  : state => state.users.rolesHash,
        }),
        formTitle(){
            if (!this.currentRow || !this.currentRow.id)
                return 'Добавление нового пользователя'
            else
                return 'Редактирование пользователя "' + this.currentRow.name + '"'
        },
        sFilter(){
            return {
                role: this.roles_list,
            }
        }
    },

    created () {
        this.$store.dispatch('users/roles');
    },
    destroyed(){
        this.$store.commit('users/set', {type: 'list', items:[]});
    }
}

</script>
